<template>
    <v-container class="mods-container">
        <!-- Search bar -->
        <v-container class="search-container">
            <v-row>
                <v-col cols="12">
                    <v-text-field label="Search mods" class="search-bar"></v-text-field>
                </v-col>
            </v-row>
        </v-container>

        <!-- Mods container -->
        <v-container class="mod-container">
            <v-row>
                <v-col cols="12" v-for="mod in mods" :key="mod.id">
                    <v-card dark :elevation="12" class="mod-item">
                        <v-row>
                            <v-col cols="8">
                                <v-card-title>
                                    <h2>{{ mod.name }}</h2>
                                </v-card-title>

                                <v-row>
                                    <v-chip v-for="tag in mod.tags" :key="tag" class="mr-2">
                                        {{ tag }}
                                    </v-chip>
                                </v-row>

                                <v-card-subtitle class="subtitle">{{ mod.description }}</v-card-subtitle>
                            </v-col>

                            <v-col cols="4">
                                <v-img height="25em" :src="mod.imageUrl"></v-img>
                                <v-card-subtitle class="subtitle">{{ mod.subtitle }}</v-card-subtitle>
                                <v-btn color="primary" class="ma-2" @click="downloadMod(mod)" tile>
                                    <v-icon left>mdi-download</v-icon> Download Now
                                </v-btn>
                            </v-col>
                        </v-row>
                        <v-card-text>
                            {{ mod.content }}
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-container>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
    name: "mods",
    data() {
        return {
            mods: [
                {
                    id: 1,
                    name: "UI Mod 1",
                    imageUrl: "/img/backgrounds/1.png",
                    tags: ["UI", "Graphical", "Effects"],
                    subtitle: "UI overall mod",
                    description: "Short description of the mod.",
                    content: "Installation instructions go here.",
                },
            ],
        };
    },
    methods: {
        downloadMod(mod) {
            console.log("Downloading", mod.name);
        },
    },
});
</script>

<style lang="scss" scoped>
.search-container {
    width: 100%;
    margin: auto;
    margin-top: 25px;
}

.mod-container {
    width: 100%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 200px;
}

@media (max-width: 600px) {

    .search-container {
        background-color: rgba($color: #000000, $alpha: 0.7) !important;
        padding-left: 25px;
        padding-right: 25px;
    }

    .mod-container {
        max-width: 100%;
    }
}

.search-bar {
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    padding: 25px;
    padding-bottom: 10px;
}

.mod-item {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    padding-bottom: 50px;
}

.mods-container {
    margin-bottom: 200px;

    .row {
        margin: 0px;
    }
}
</style>