<template>
    <div class="profile-banner">
        <client-only>
            <div v-if="$store?.getters?.isLoggedIn === true">
                <div class="ma-4 d-flex justify-center">
                    <!-- <ul class="pl-0 d-flex flex-column">
                        <div>
                            <v-avatar size="50">
                                <img style="object-fit: cover; object-position: top;"
                                    src="~/static/img/icons/builder.png" />
                            </v-avatar>
                        </div>
                    </ul> -->
                    <ul class="pl-0 d-flex flex-column justify-center">
                        <router-link to="/account#profile" class="mx-2 d-flex justify-center">
                            <span><b>{{ $store?.getters?.user?.username }}</b></span>
                        </router-link>
                        <user-avatar :size="70" :isUser="true"></user-avatar>
                        <span class="d-flex flex-row align-center justify-space-between"
                            style="height: 1.5625em; margin-left: -0.9375em;">
                            <user-level :isUser="true" :scale="0.5"></user-level>
                            <user-gold></user-gold>
                        </span>
                    </ul>
                </div>
            </div>
        </client-only>
    </div>
</template>

<script>
import UserLevel from "@/components/stats/user-level.vue";
import UserGold from "@/components/profile/user-gold.vue";
import UserAvatar from "@/components/stats/user-avatar.vue";

export default {
    name: 'profile-banner',
    components: {
        UserLevel,
        UserGold,
        UserAvatar
    },
};
</script>

<style scoped>
.profile-banner {}
</style>