<template>
    <div class="user-gold">
        <v-tooltip bottom>
            <template #activator="{ on, attrs }">
                <div :style="getScale" v-on="on" v-bind="attrs">
                    <router-link style="text-decoration: none; margin-top: 2px;" to="/account#vault">
                        <v-avatar :size="size">
                            <img style="object-fit: cover; object-position: top;"
                                src="~/static/img/icons/stat-icons/total_gold.jpg" />
                        </v-avatar>
                        <span :height="`${size}px`">{{ gold }}</span>
                    </router-link>
                </div>
            </template>
            <span>{{ `Gold: ${this.gold}`
            }}</span>
        </v-tooltip>
    </div>
</template>

<script>
import { EventBus } from '@/plugins/event-bus';

export default {
    name: 'user-gold',
    components: {
    },
    data() {
        return {
            gold: 0
        };
    },
    props: {
        scale: {
            type: Number,
            required: false
        },
        size: {
            type: Number,
            default: () => 20
        },
    },
    methods: {
        async getGold() {
            try {
                const response = await this.$axios.get(`/api/items/gold`);
                this.gold = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            }
        }
    },
    computed: {
        getScale() {
            return {
                transform: `scale(${this.scale})`,
            };
        },
    },
    async mounted() {
        EventBus.$on('user-stash-updated-event', async () => {
            await this.getGold();
        });

        await this.getGold();
    },
    beforeDestroy() {
        EventBus.$off('user-stash-updated-event');
    }
};
</script>

<style scoped></style>