<template>
    <!-- <v-toolbar dark>
        <v-toolbar-title>User search</v-toolbar-title> -->
    <v-autocomplete :prepend-inner-icon="'mdi-magnify'" v-model="selectedUser" :loading="loading" :items="userOptions"
        :search-input.sync="search" cache-items class="mx-4" flat hide-no-data hide-details label="Search users"
        solo-inverted @input="emitSelectedUser" style="max-width: 200px;" clearable></v-autocomplete>
    <!-- </v-toolbar> -->
</template>

<script lang="ts">
export default {
    data() {
        return {
            loading: false,
            userOptions: [],
            search: null,
            selectedUser: null
        };
    },
    watch: {
        search(val) {
            val && val !== this.selectedUser && this.fetchUsers(val);
        },
    }, methods: {
        async fetchUsers(username: string) {
            try {
                const response = await this.$axios.get(`/api/players/search?query=${username}`);

                this.userOptions = response.data.filter(e => {
                    return (e || '').toLowerCase().indexOf((username || '').toLowerCase()) > -1
                });

                this.loading = false;
            } catch (error) {
                // Handle the error or return an error response
                console.error('Error fetching data:', error);
                this.loading = false;
            }
        },
        emitSelectedUser() {
            this.$emit('user-selected', this.selectedUser);
        },
    },

};
</script>