<template>
    <div class="match-stats">
        <div class="match-container">
            <v-layout wrap>
                <v-flex xs12 sm6 md2 class="map-container pa-2">
                    <Map v-if="match" :map="match.map"></Map>
                    <match-details v-if="match" :match="match" />
                </v-flex>
                <v-flex xs12 sm6 md10 class="match-stats-container">
                    <v-layout wrap>
                        <v-flex xs12 md6>
                            <match-stats v-if="matchStats" :matchStats="matchStats" :race="1"></match-stats>
                        </v-flex>
                        <v-flex xs12 md6>
                            <match-stats v-if="matchStats" :matchStats="matchStats" :race="2"></match-stats>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </div>
        <div class="row chart-container">
            <impact-chart v-if="match && matchStats" :chartTitle="'Overall Impact'" :chartData="matchStats?.actionPlayers"
                :chartType="'radar'" :chartFields="['pdmg', 'bdmg', 'hpHealed', 'exp', 'gold']"
                :chartLabels="['Player Damage', 'Building Damage', 'Healing', 'Experience', 'Gold Earned']"></impact-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Player Damage'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'pdmg'"></stats-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Building Damage'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'bdmg'"></stats-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Healing'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'hpHealed'"></stats-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Experience'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'exp'"></stats-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Gold Earned'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'gold'"></stats-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Kills'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'kills'"></stats-chart>
            <stats-chart v-if="match && matchStats" :chartTitle="'Assists'" :chartData="matchStats?.actionPlayers"
                :chartType="'polarArea'" :chartField="'assists'"></stats-chart>
        </div>
    </div>
</template>

<script lang="ts">
import MatchDetails from "../../components/stats/match-details.vue";
import MatchStats from "../../components/stats/match-stats.vue";
import Map from "../../components/stats/map.vue";
import ImpactChart from '../../components/stats/charts/impact-chart.vue';
import StatsChart from '../../components/stats/charts/stats-chart.vue';

export default {
    components: {
        MatchDetails,
        MatchStats,
        Map,
        ImpactChart,
        StatsChart
    },
    data() {
        return {
            matchId: null,
            match: null,
            matchStats: null,
        };
    },
    async created() {
        this.matchId = this.$route.params.id;
        if (this.matchId) {
            try {
                const response = await this.$axios.get(`/api/matches/${this.matchId}`);
                this.match = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            }

            try {
                await this.getMatchStats();
            } catch (error) {
                console.error("Error fetching data:", error);
            }
        }
    },
    methods: {
        async getMatchStats() {
            this.loading = true;

            if (this.match?.id) {
                try {
                    const response = await this.$axios.get(`/api/matches/stats/${this.match?.id}`);

                    const data = response.data;
                    this.matchStats = data;
                    this.loading = false;
                } catch (error) {
                    // Handle the error or return an error response
                    console.error("Error fetching data:", error);
                    this.loading = false;
                }
            }
        },
    }
};
</script>

<style lang="scss" scoped>
.match-container {
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chart-container {
    // margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    gap: 20px;
    align-content: space-between;
}

.match-stats-container {
    overflow: auto;
}

.match-stats {
    padding-bottom: 200px;
}

.map-container {
    min-width: 200px;
}
</style>