<template>
    <div>
        <!-- <leaderboard></leaderboard> -->
        <recent-matches :pageSize="25"></recent-matches>
        <news-banner></news-banner>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import RecentMatches from "@/components/stats/recent-matches.vue";
// import Leaderboard from "@/components/stats/leaderboard.vue";
import NewsBanner from "@/components/news/news-banner.vue";

export default Vue.extend({
    name: "matches",
    components: {
        // Leaderboard,
        RecentMatches,
        NewsBanner,
    }
});
</script>

<style lang="scss" scoped>
.matches-table-wrapper {
    margin: auto;
    // max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;


}

@media (max-width: 600px) {
    .matches-table-wrapper {
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
}
</style>