<template>
    <div class="unit-preview swipe-animation">
        <!-- <div class="container"> -->
        <v-carousel height="100%" width="100%" hide-delimiter-background hide-delimiters>
            <!-- Slide 1 -->
            <v-carousel-item v-for="(unit, index) in units" :key="index" class="scroll-y">
                <div :class="unitPanelClass">
                    <div class="container pa-16">
                        <v-layout>
                            <v-row>
                                <v-col :cols="$vuetify.breakpoint.mdAndDown ? 12 : 4">
                                    <v-row :class="$vuetify.breakpoint.mdAndDown ? 'mx-12' : ''">
                                        <v-col>
                                            <h1 :class="[$vuetify.breakpoint.smAndDown ? 'display-2' : 'display-3']"
                                                class="section-heading font-weight-bold">{{ unit.name }}</h1>
                                            <h2 class="display-1 section-heading font-weight-medium">Role: {{ unit.role
                                            }}
                                            </h2>
                                        </v-col>
                                    </v-row>
                                    <v-row :class="$vuetify.breakpoint.mdAndDown ? 'ma-12' : ''">
                                        <!-- <img src="img/icons/2x/savage-transformed.png" class="unit-image" alt="Unit"> -->
                                        <v-col>
                                            <v-row>
                                                <img :src="unit?.imageUrl" class="unit-image" :alt="unit?.name">
                                                <v-col class="py-0">
                                                    <h3><span class="section-heading font-weight-bold">Health:
                                                        </span><span class="section-heading font-weight-regular">{{
                                                            unit?.health || "N/A" }}</span></h3>
                                                    <h3><span class="section-heading font-weight-bold">Mana:
                                                        </span><span class="section-heading font-weight-regular">{{
                                                            unit?.mana || "N/A" }}</span></h3>
                                                    <h3><span class="section-heading font-weight-bold">Stamina:
                                                        </span><span class="section-heading font-weight-regular">{{
                                                            unit?.stamina || "N/A" }}</span></h3>
                                                    <h3><span class="section-heading font-weight-bold">Armor:
                                                        </span><span class="section-heading font-weight-regular">{{
                                                            unit?.armor || "N/A" }}</span></h3>
                                                    <h3><span class="section-heading font-weight-bold">Speed:
                                                        </span><span class="section-heading font-weight-regular">{{
                                                            unit?.speed || "N/A" }}</span></h3>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>
                                <v-col :cols="$vuetify.breakpoint.mdAndDown ? 12 : 8"
                                    :class="$vuetify.breakpoint.mdAndDown ? 'mb-16' : ''">
                                    <v-row>
                                        <div class="description-container">
                                            <!-- <h4 class="section-text font-weight-light">The brute warriors of the Legion of
                                                Man, Savages are dedicated to the rush of battle and the thrill of
                                                bloodlust.
                                                Armed with a pair of battle-notched blades and quick-firing bows, Savages
                                                rush
                                                heedless into battle, inspiring their comrades to similar feats of heroism.
                                                The
                                                life of a Savage is often short and glorious.</h4> -->
                                            <h4 class="section-text font-weight-light">{{ unit?.description }}</h4>
                                        </div>
                                    </v-row>
                                    <v-row class="mt-8">
                                        <v-col>
                                            <v-row>
                                                <h2 class="display-1 section-heading font-weight-medium">Abilities</h2>
                                            </v-row>
                                            <v-row>
                                                <!-- <img src="img/icons/abilities/savage/melee.png" height="80px" width="80px"
                                                    class="ability-image" alt="Ability">
                                                <img src="img/icons/abilities/savage/ravager.png" height="80px" width="80px"
                                                    class="ability-image" alt="Ability">
                                                <img src="img/icons/abilities/savage/repeater.png" height="80px"
                                                    width="80px" class="ability-image" alt="Ability">
                                                <img src="img/icons/abilities/savage/criticalstrike.png" height="80px"
                                                    width="80px" class="ability-image" alt="Ability">
                                                <img src="img/icons/abilities/savage/doubleswing.png" height="80px"
                                                    width="80px" class="ability-image" alt="Ability">
                                                <img src="img/icons/abilities/savage/morale.png" height="80px" width="80px"
                                                    class="ability-image" alt="Ability">
                                                <img src="img/icons/abilities/savage/rage.png" height="80px" width="80px"
                                                    class="ability-image" alt="Ability"> -->
                                                <img v-for="(ability, i) in unit?.abilities" :key="i"
                                                    :src="unit?.abilities[i]?.imageUrl" style="height: 5em; width: 5em;"
                                                    :class="selectedAbility === ability ? 'ability-image-selected' : 'ability-image'"
                                                    :alt="unit?.abilities[i]?.name" @click="selectedAbility = ability">
                                            </v-row>
                                            <v-row v-if="!!selectedAbility && unit?.abilities?.includes(selectedAbility)"
                                                class="mt-8">
                                                <v-col class="pa-0">
                                                    <!-- <h2 class="display-1 section-heading font-weight-medium">Broadswords
                                                    </h2> -->
                                                    <h2 class="display-1 section-heading font-weight-medium">{{
                                                        selectedAbility?.name }}
                                                    </h2>
                                                    <v-row class="pt-4">
                                                        <v-col cols="4">
                                                            <h3 v-if="!!selectedAbility?.maxAttacks"><span
                                                                    class="section-heading font-weight-bold">Attacks:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.maxAttacks || "N/A" }}</span></h3>
                                                            <h3 v-if="!!selectedAbility?.minDamage"><span
                                                                    class="section-heading font-weight-bold">Min
                                                                    Damage:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.minDamage || "N/A" }}</span></h3>
                                                            <h3 v-if="!!selectedAbility?.maxDamage"><span
                                                                    class="section-heading font-weight-bold">Max
                                                                    Damage:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.maxDamage || "N/A" }}</span></h3>
                                                            <h3 v-if="!!selectedAbility?.attackSpeed"><span
                                                                    class="section-heading font-weight-bold">Attack
                                                                    Speed:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.attackSpeed || "N/A" }}</span></h3>
                                                            <h3 v-if="!!selectedAbility?.attackRange"><span
                                                                    class="section-heading font-weight-bold">Attack
                                                                    Range:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.attackRange || "N/A" }}</span></h3>
                                                            <!-- </v-col>
                                                        <v-col> -->
                                                            <h3 v-if="!!selectedAbility?.manaCost"><span
                                                                    class="section-heading font-weight-bold">Mana
                                                                    Cost:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.manaCost || "N/A" }}</span></h3>
                                                            <h3 v-if="!!selectedAbility?.ammoCount"><span
                                                                    class="section-heading font-weight-bold">Ammo
                                                                    Count:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.ammoCount || "N/A" }}</span></h3>
                                                            <h3 v-if="!!selectedAbility?.cooldown"><span
                                                                    class="section-heading font-weight-bold">Cooldown:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    `${selectedAbility?.cooldown}s` }}</span>
                                                            </h3>
                                                            <h3 v-if="!!selectedAbility?.ammo"><span
                                                                    class="section-heading font-weight-bold">Max
                                                                    Damage:
                                                                </span><span class="section-heading font-weight-regular">{{
                                                                    selectedAbility?.ammo || "N/A" }}</span></h3>
                                                        </v-col>
                                                    </v-row>
                                                    <div class="description-container mt-4">
                                                        <h4 class="section-text font-weight-light">
                                                            {{ selectedAbility?.description }}</h4>
                                                    </div>
                                                </v-col>
                                            </v-row>
                                        </v-col>
                                    </v-row>
                                </v-col>
                            </v-row>
                        </v-layout>
                    </div>
                </div>
            </v-carousel-item>

            <!-- Add more slides as needed -->
        </v-carousel>
        <!-- </div> -->
    </div>
</template>
  
<script lang="ts">
import Vue from "vue";
import { humanUnits, beastUnits, hellbourneUnits } from "./units";

export default Vue.extend({
    data() {
        return {
            selectedAbility: undefined,
            humanUnits: humanUnits,
            beastUnits: beastUnits,
            hellbourneUnits: hellbourneUnits,
        };
    },
    props: {
        faction: {
            type: Number,
            default: 0
        },
    },
    computed: {
        units() {
            return this.getUnits(this.faction);
        },
        unitPanelClass() {
            if (this.faction === 0) {
                return 'unit-panel-human';
            } else if (this.faction === 1) {
                return 'unit-panel-beast';
            } else if (this.faction === 2) {
                return 'unit-panel-hellbourne';
            } else {
                return 'unit-panel-human';
            }
        }
    },
    methods: {
        getUnits(faction: number) {
            switch (faction) {
                case 1:
                    return this.beastUnits
                case 2:
                    return this.hellbourneUnits
                case 0:
                default:
                    return this.humanUnits
            }
        }
    }
});
</script>
  
<style lang="scss" scoped>
.unit-preview {
    height: 70%;
    width: 80vw;
    position: relative;
}

.unit-panel-human {
    background: radial-gradient(ellipse at bottom left,
            rgba(241, 112, 112, 0.749),
            rgba(241, 112, 112, 0.549),
            rgba(241, 112, 112, 0.249),
            rgba(241, 112, 112, 0.149),
            rgba(241, 112, 112, 0.001),
            transparent);
    background-size: cover;
    border-radius: 0.9375em;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (max-width: 37.5em) {
        .container {
            padding: 0em !important;
            padding-top: 6.25em !important;
        }
    }
}

.unit-panel-beast {
    background: radial-gradient(ellipse at bottom right,
            rgba(180, 105, 250, 0.749),
            rgba(180, 105, 250, 0.549),
            rgba(180, 105, 250, 0.249),
            rgba(180, 105, 250, 0.149),
            rgba(180, 105, 250, 0.001),
            transparent);
    background-size: cover;
    border-radius: 0.9375em;
    align-items: center;
    justify-content: center;
    position: relative;
}

.unit-panel-hellbourne {
    background: radial-gradient(ellipse at bottom left,
            rgba(250, 133, 105, 0.749),
            rgba(250, 133, 105, 0.549),
            rgba(250, 133, 105, 0.249),
            rgba(250, 133, 105, 0.149),
            rgba(250, 133, 105, 0.001),
            transparent);
    background-size: cover;
    border-radius: 0.9375em;
    align-items: center;
    justify-content: center;
    position: relative;
}


.container {
    // margin-bottom: 10px;
    // margin-right: 10px;
    max-height: 100% !important;
    max-width: 100% !important;
    margin: 0;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 0.9375em;
    background-color: rgba(255, 255, 255, .15);
}

/* Media query for screen width 700px and below */
@media screen and (max-width: 43.75em) {

    .container>div,
    .container>div>div,
    .container img {
        transform: scale(0.9) !important;
        /* Set the scale to 0.6 when the screen is 700px or below */
    }
}

.description-container {
    padding: 0.9375em;
    border-radius: 0.3125em;
    background-color: rgba(0, 0, 0, .25);
}

.unit-image {
    position: relative;
    z-index: 2;
}

.ability-image {
    margin: 0.125em;
    filter: grayscale(100%);
}

.ability-image:hover {
    filter: grayscale(0%);
}

.ability-image-selected {
    filter: grayscale(0%);
}

::v-deep .v-carousel__item,
::v-deep .v-carousel__item>div {
    overflow-y: scroll !important;
}

// .wrapper {
//   padding: 0 20px;
//   transform: scale(var(--scale));
//   background: #ddd;
// }

// .wrapper > * {
//   transform: scale(calc(1/var(--scale)));
// }
</style>
  