.carbon-pattern {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #111 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #111 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 3px 4px;
}

.vertical-fade,
.vertical-fade-bottom {
    position: relative;
}

.vertical-fade::before,
.vertical-fade-bottom::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50%;
    pointer-events: none;
    z-index: 2;
}

.vertical-fade::before {
    background: linear-gradient(to bottom, transparent 50%, #000000 100%),
                linear-gradient(to top, transparent 50%, #000000 100%);
    pointer-events: none;
    z-index: 2;
    height: 100%;
}

.vertical-fade-bottom::before {
    background: linear-gradient(to bottom, transparent 50%, #000000 100%);
    pointer-events: none;
    z-index: 2;
}

.radial-fade {
    position: relative;
}

.radial-fade::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(ellipse at center, 
                                transparent 50%, 
                                rgba(0, 0, 0, 0.55) 70%,
                                rgba(0, 0, 0, 0.60) 80%,
                                rgba(0, 0, 0, 0.75) 90%,
                                rgba(0, 0, 0, 0.95) 100%,
                                #000000 100%,
                                );
    pointer-events: none;
    z-index: 3;
}

.vertical-fade-reverse {
    background: linear-gradient(180deg,
            transparent 0%,
            rgba(0, 0, 0, 0.35) 5%,
            rgba(0, 0, 0, 0.55) 10%,
            rgba(0, 0, 0, 0.75) 15%,
            rgba(0, 0, 0, 0.85) 30%,
            rgba(0, 0, 0, 0.99) 50%,
            rgba(0, 0, 0, 0.85) 70%,
            rgba(0, 0, 0, 0.75) 85%,
            rgba(0, 0, 0, 0.55) 90%,
            rgba(0, 0, 0, 0.35) 95%,
            transparent 100%) !important;

    /* background-repeat: repeat; */
    background-size: cover;
    position: relative;
}

.fade-overlay {
    transform: translateY(-50%);
    padding-top: 4.6875em;
    padding-bottom: 4.6875em;
    position: absolute;
    width: 100%;
    z-index: 4;
}

.background-hellbourne {
    background: url('/img/background-hellbourne.png');
    // background-blend-mode: multiply;
    background-size: cover;
    // background-position: top, center;
    background-position: center;
}
.background-hellbourne-blurred {
    background: url('/img/background-hellbourne-blurred.png');
    // background-blend-mode: multiply;
    background-size: cover;
    // background-position: top, center;
    background-position: center;
}
.background-hellscape {
    background: url('/img/battle-background.png');
    // background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.background-hellscape-3x {
    background: url('/img/background-hellscape-5x.png');
    background-blend-mode: saturation;
    background-size: cover;
    background-position: center;
    // background-position: top, center;
}

.section-heading {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: monospace !important;
    opacity: 0.8;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
    z-index: 4;
}

.section-text {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: monospace !important;
    opacity: 0.8;
    text-shadow: 2px 2px 2px #000;
    z-index: 4;
}

.swipe-animation {
    animation-duration: 3000ms;
    animation-delay: 500ms;
    animation-name: swipe;
    animation-fill-mode: forwards;
    /* clip-path: polygon(100% 100%, -200% 100%, 100% -200%); */
    visibility: hidden;
}

@keyframes swipe {
    from {
        visibility: hidden;
    }

    0% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(100% 100%, -200% 100%, 100% -200%);
    }

    to {
        visibility: visible;
    }
}

.uppercase {
    text-transform: uppercase;
}

.v-application span.primary,
.v-application b.primary,
.v-application p.primary {
    background-color: unset !important;
}

h1, h2 {
    text-shadow: 2px 2px 2px #000;
}

::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
    background-color: transparent;
    border-radius: 0.625em;
}

::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 0.625em;
}

html {
    background-color: #131313;
    scrollbar-color: lightgrey #131313;
    scrollbar-width: 0.5em !important;
}

.stone-texture {
    background-image: 
        url('/img/stone-texture.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
}

.blue-stone-texture {
    background-image: 
        url('/img/blue-stone-texture.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
}

.stone-border {
    border-image: url('/img/stone-border.png') 93 95 97 92 repeat repeat;
    border-style: outset;
    border-width: 0.625em;
    height: auto;
}

.border-inset {
    border: 2px inset darkgrey;
}
.border-outset {
    border: 2px outset darkgrey;
}
.nowrap {
    text-wrap: nowrap;
}

.gold-prefix::before,
.gold-suffix::after {
    content: '';
    background-image: url('/img/gold.png');
    height: 18px !important;
    width: 18px !important;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-size: contain;
}