<template>
    <div class="user-container">
        <div class="user-stats-container">
            <v-layout>
                <v-row class="ma-0">
                    <user-stats id="user-stats" v-if="userStats" :userStats="userStats"></user-stats>
                    <v-flex>
                        <user-karma id="user-karma" v-if="userStats" :sentKarma="userStats.sentKarma"
                            :receivedKarma="userStats.receivedKarma"></user-karma>
                    </v-flex>
                </v-row>
            </v-layout>
        </div>
        <div>
            <recent-matches id="recent-matches" :player="username"></recent-matches>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import UserStats from "../../components/stats/user-stats.vue";
import UserKarma from "../../components/stats/user-karma.vue";
import RecentMatches from "../../components/stats/recent-matches.vue";

export default Vue.extend({
    components: {
        UserStats,
        UserKarma,
        RecentMatches,
    },
    data() {
        return {
            userStats: null,
            username: null
        };
    },
    async created() {
        this.username = this.$route.params.username;
        if (this.username) {
            try {
                const response = await this.$axios.get(`/api/stats/${this.username}`);
                this.userStats = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            }
        }
    },
    methods: {
        // async getMatchStats() {
        //     this.loading = true;

        //     if (this.match?.id) {
        //         try {
        //             const response = await this.$axios.get(`/api/matches/stats/${this.match?.id}`);

        //             const data = response.data;
        //             this.matchStats = data;
        //             this.loading = false;
        //         } catch (error) {
        //             // Handle the error or return an error response
        //             console.error("Error fetching data:", error);
        //             this.loading = false;
        //         }
        //     }
        // },
    }
});
</script>

<style lang="scss" scoped>
.user-container {
    // margin: auto;
    // margin-top: 25px;
    // margin-left: 25px;
    // margin-right: 25px;
    // margin-bottom: 200px;
    // box-shadow: none !important;
    // background-color: rgba($color: #000000, $alpha: 0.7) !important;
    // border-radius: 2px;
    // border-top-left-radius: 5px;
    // border-top-right-radius: 5px;
    margin-bottom: 200px;

    >.flex {
        position: relative;
    }

    #recent-matches :deep(.matches-table) {
        margin: unset;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #user-stats {
        margin-top: 25px;
        // margin-right: 25px;
        margin-left: 25px;
    }

    #user-karma {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        height: 100%;
        padding-bottom: 25px;

        >:deep(.karma-table) {
            height: 100%;
        }
    }

    @media (max-width: 1200px) {
        #user-stats {
            margin-right: 25px !important;
        }

        #user-karma {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}
</style>