<template>
    <div>
        <h3>Active Items ({{ items.length }} / 5)</h3>
        <v-layout class="items-grid">
            <v-row wrap>
                <template v-if="!isLoading">
                    <div class="items-card" v-for="(item, index) in items" :key="'item'+index" @click="select(item)">
                        <rune :item="item" :canDelete="true" :selected="item?.id == selectedItem?.id"></rune>
                    </div>
                    <div class="items-card" v-for="(slot, index) in remainingSlots" :key="'empty'+index">
                        <v-avatar style="border-style: inset; border-color: darkgrey;" tile size="80" color="grey">
                            <v-img v-if="slot" cover class="absolute" :src="imageBasePath + 'vault_empty.png'"
                                   preload="metadata"></v-img>
                        </v-avatar>
                    </div>                    
                </template>
                <template v-else>
                    <div class="text-center">
                        <v-progress-circular :size="120" indeterminate></v-progress-circular>
                    </div>
                </template>
            </v-row>
        </v-layout>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import authGuard from '../../middleware/authGuard';
import {useItems} from "@/components/items/items";
import Rune from './rune.vue';
import { EventBus } from "@/plugins/event-bus";
import {Item} from "@/models/Items/Item";

export default Vue.extend({
    name: 'active-items',
    components: {
        Rune
    },
    data() {
        return {
            items: [],
            selectedItem: null,
            isLoading: false
        };
    },
    setup() {
        const {passives, actives, regens, types, imageBasePath, getData} = useItems();
        return {...passives, actives, regens, types, imageBasePath, getData}
    },
    middleware: authGuard,
    computed: {
        user() {
            return this.$store.getters.user;
        },
        remainingSlots() {
            return 5 - this.items.length;
        },
    },
    methods: {
        select(item: Item) {
            this.selectedItem = item;
        },
        async getActiveItems() {
            try {
                this.isLoading = true;
                const response = await this.$axios.get(`/api/items/active`);
                this.items = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            } finally {
                this.isLoading = false;
            }
        }
    },
    async mounted() {
        EventBus.$on('user-stash-updated-event', async () => {
            await this.getActiveItems();
        });
        await this.getData(this.$axios);
        await this.getActiveItems();
    },
    beforeDestroy() {
        EventBus.$off('user-stash-updated-event');
    }
});
</script>

<style lang="scss" scoped>
.items-grid {
    margin-top: 10px;
    padding: 5px;
    // max-width: 150px;
}

.items-card {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}

.absolute {
    position: absolute;
}
</style>