<script setup lang="ts">
import {computed, ComputedRef, getCurrentInstance, onMounted} from 'vue';
import {RuneStageEnum} from "@/enums/items/RuneStageEnum";
import {useItems} from "@/components/items/items";
const {passives, actives, regens, types, imageBasePath, getData} = useItems();
import {Item} from "@/models/Items/Item";

const affixes: ComputedRef<Item[]> = computed(() => {
    switch (props.stage) {
        case RuneStageEnum.Type:
            return types.value;
        case RuneStageEnum.Color:
            return regens.value;
        case RuneStageEnum.Passive:
            return passives.value;
        case RuneStageEnum.Active:
            return actives.value;
        default:
            return [] as Item[];
    }
});

const props = defineProps({
    value: {
        required: true
    },
    stage: {
        type: Number,
        default: 0
    },
    currentPts: {
        type: Number,
        required: true,
        default: 0
    }
});

//todo: get rid of input when we upgrade to vue3.
const emit = defineEmits(['input']);

onMounted(async () => {
    //todo: get rid of this when we upgrade to vue3.
    await getData(getCurrentInstance().proxy.$axios);
});

function selectAffix(item: Item) {
    if(notEnoughPts(item)) {
        return;
    }
    emit('input', item.id);
}

function notEnoughPts(item: Item): boolean {
    const cost = affixes.value.find(x => x.id === props.value)?.cost ?? 0;
    return (props.currentPts as number + cost - item.cost) < 0;
}

function getClasses(item: Item): string {
    let defaultClasses = 'd-flex flex-row my-2 text-left justify-space-between affix-row';
    if(props.value === item.id) {
        return defaultClasses + ' affix-row-selected pointer-class';
    }
    return notEnoughPts(item) ? defaultClasses + ' affix-row-disabled' : defaultClasses + ' pointer-class';
}

</script>

<template>
    <div>
        <div v-for="affix in affixes" 
             :key="affix.id"
             :class="getClasses(affix)"
             @click="selectAffix(affix)">
            <template v-if="affix">
                <v-card class="mr-2">
                    <v-avatar size="60" style="border-style: inset; border-color: darkgrey;"
                              tile>
                        <v-img :src="imageBasePath + affix.affixImage"
                               preload="metadata"></v-img>
                    </v-avatar>
                </v-card>
                <div class="d-flex flex-column text-center justify-center"
                     style="height: 60px; width: 100px;">
                    <b> {{ affix.text }}</b>
                    <b>+ {{ affix.status }}</b>
                    <b><v-icon color="light-blue" class="mr-2">mdi-star-four-points</v-icon>{{ affix.cost }}</b>
                </div>
            </template>
        </div>
    </div>
</template>

<style scoped lang="scss">
.affix-row:hover {
    background-image:
        url('/img/stone-texture.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
    border-radius: 5px;
    background-color: #ffffff33;
}

.pointer-class:hover {
    cursor: pointer;
}

.affix-row-selected {
    background-image:
        url('/img/stone-texture.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
    border-radius: 5px;
    background-color: red !important;
    cursor: pointer;
}

.affix-row-disabled {
    background-image:
        url('/img/stone-texture.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
    border-radius: 5px;
    background-color: darkgrey !important;
}


.affix-row {
    padding: 4px;
}

</style>