<template>
    <div>
        <div>
            <h3>Item Storage</h3>
        </div>
        <v-layout class="items-grid">
            <v-row wrap>
                <template v-if="!isLoading">
                    <div class="items-card" v-for="item in items" :key="item.id" @click="select(item)">
                        <rune :item="item" :canSalvage="true" :selected="item?.id == selectedItem?.id">
                        </rune>
                    </div>
                    <div class="items-card" v-for="(slot, index) in remainingSlots" :key="`empty-${index}`">
                        <v-avatar style="border-style: inset; border-color: darkgrey;" tile size="80" color="grey">
                            <v-img v-if="slot" cover class="absolute" :src="imageBasePath + 'empty.png'"
                                   preload="metadata"></v-img>
                        </v-avatar>
                    </div>
                </template>
                <v-progress-circular :size="120" indeterminate v-else></v-progress-circular>
            </v-row>
        </v-layout>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import authGuard from '../../middleware/authGuard';
import { EventBus } from '@/plugins/event-bus';
import {useItems} from "@/components/items/items";
import Rune from './rune.vue'
import {Item} from "@/models/Items/Item";

export default Vue.extend({
    name: 'item-storage',
    components: {
        Rune
    },
    data() {
        return {
            items: [],
            selectedItem: null,
            isLoading: false
        };
    },
    setup() {
        const {passives, actives, regens, types, imageBasePath, getData} = useItems();
        return {...passives, actives, regens, types, imageBasePath, getData}
    },
    middleware: authGuard,
    computed: {
        user() {
            return this.$store.getters.user;
        },
        remainingSlots() {
            return this.items.length > 5 ? 1 : 5 - this.items.length;
        },
    },
    methods: {
        async getItems() {
            try {
                this.isLoading = true;
                const response = await this.$axios.get(`/api/items/stored`);

                this.items = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            } finally {
                this.isLoading = false;
            }
        },
        select(item: Item) {
            this.selectedItem = item;
        }
    },
    async mounted() {
        EventBus.$on('user-stash-updated-event', async () => {
            await this.getItems();
        });
        await this.getData(this.$axios);
        await this.getItems();
    },
    beforeDestroy() {
        EventBus.$off('user-stash-updated-event');
    }
});
</script>

<style lang="scss" scoped>
.items-grid {
    margin-top: 10px;
    padding: 5px;
}

.items-card {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}

.absolute {
    position: absolute;
}
</style>