<template>
    <div>
        <v-stepper v-model="stage">
            <v-stepper-header>
                <v-stepper-step
                    step="0"
                >
                    Introduction
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                    step="1"
                    :complete="isCompleted"
                >
                    Builder
                </v-stepper-step>
                
                <v-divider></v-divider>

                <v-stepper-step step="2">
                    Confirmation
                </v-stepper-step>
                
                <v-divider></v-divider>
                
                <v-stepper-step step="3">
                    Success
                </v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
                <v-stepper-content step="0">
                    <v-card>
                        <v-row class="d-flex justify-center mt-5">
                            <div class="d-flex flex-column text-center" style="max-width: 100%;">
                                <div class="instruction-banner mx-auto">
                                    <h3>Here you can create powerful items to be used on the battlefield</h3>
                                </div>
                                <div class="d-flex justify-center">
                                    <v-img class="my-16 mx-16" width="600px" style="max-width: 100%;"
                                           src="img/rune-builder-demo.png"></v-img>
                                </div>
                                <div class="instruction-banner mx-auto">
                                    <h3>Spend <span class="gold-prefix">{{runeGoldCost}} gold</span> to construct the perfect item, or test your luck
                                        to
                                        reveal <span class="dice-prefix">random</span> affixes for <span class="gold-prefix">{{randomGoldCost}} gold</span></h3>
                                </div>
                            </div>
                            <div class="text-center mb-5">
                                <s2-btn @click="startItemCreation()">
                                    CREATE NEW ITEM
                                </s2-btn>
                                <s2-btn :loading="randomLoading" @click="createRandomRune()">
                                    <span class="dice-prefix"> RANDOMIZE AN ITEM</span>
                                </s2-btn>
                            </div>
                        </v-row>
                    </v-card>
                </v-stepper-content>

                <v-stepper-content step="1">
                    <v-card class="mt-5">
                        <v-row>
                            <v-card-title>
                                <v-icon color="light-blue" class="mr-2">mdi-star-four-points</v-icon> Points left: {{currentPts}} / {{maxPts}}
                            </v-card-title>
                        </v-row>
                        <v-row>
                            <v-col>
                                <affixes v-model="item.type" :stage="0" :current-pts="currentPts"/>
                            </v-col>
                            <v-col>
                                <affixes v-model="item.color" :stage="1" :current-pts="currentPts"/>
                            </v-col>
                            <v-col>
                                <affixes v-model="item.passive" :stage="2" :current-pts="currentPts"/>
                            </v-col>
                            <v-col>
                                <affixes v-model="item.active" :stage="3" :current-pts="currentPts"/>
                            </v-col>
                        </v-row>
                        <div class="text-center mb-5">
                            <s2-btn @click="stage = 0">
                                PREVIOUS
                            </s2-btn>
                            <s2-btn @click="stage = 2" :disabled="!isCompleted">
                                NEXT
                            </s2-btn>
                        </div>
                    </v-card>
                </v-stepper-content>
                
                <v-stepper-content step="2">
                    <v-card>
                        <v-card-text>
                            <h3 class="mb-9">Are you sure you want to create this rune?</h3>
                            <rune :item="item" :size="180"></rune>
                        </v-card-text>
                        <div class="text-center mb-5">
                            <s2-btn @click="stage = 1">
                                PREVIOUS
                            </s2-btn>
                            <s2-btn @click="create()" :loading="createLoading" :disabled="!isCompleted">
                                CREATE
                            </s2-btn>
                        </div>
                    </v-card>
                </v-stepper-content>
                <v-stepper-content step="3">
                    <v-card>
                        <v-card-text class="text-center">
                            <h3 class="mb-9">Your rune has been successfully created! You can access it in your rune vault now and equip it.</h3>
                            <rune :item="item" :size="180"></rune>
                        </v-card-text>
                        <div class="text-center mb-5">
                            <s2-btn @click="resetRune()">
                                CREATE A NEW RUNE
                            </s2-btn>
                        </div>
                    </v-card>                    
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
    </div>
</template>

<script setup lang="ts">
import {computed, ComputedRef, getCurrentInstance, onMounted, ref, Ref} from 'vue'
import {useItems} from "@/components/items/items";
const {passives, actives, regens, types, getData, runeGoldCost, randomGoldCost} = useItems();
import Affixes from "@/components/items/affixes.vue";
import S2Btn from "@/components/s2-btn.vue";
import {EventBus} from "@/plugins/event-bus";
import Rune from "@/components/items/rune.vue";

const stage: Ref<number> = ref(0);
const item = ref({
    color: null,
    active: null,
    passive: null,
    type: null
});
const maxPts: number = 15;


const createLoading: Ref<boolean> = ref(false);
const randomLoading: Ref<boolean> = ref(false);
const axios = ref(null);
const currentPts: ComputedRef<number> = computed(() => {
    const colorCost = regens.value.find(x => x.id === item.value.color)?.cost ?? 0;
    const activeCost = actives.value.find(x => x.id === item.value.active)?.cost ?? 0;
    const passiveCost = passives.value.find(x => x.id === item.value.passive)?.cost ?? 0;
    const typeCost = types.value.find(x => x.id === item.value.type)?.cost ?? 0;
    return maxPts - colorCost - activeCost - passiveCost - typeCost;
});
const isCompleted: ComputedRef<boolean> = computed(() => {
    return item.value.color != null && item.value.active != null && item.value.passive != null && item.value.type != null && currentPts.value >= 0;
});

function startItemCreation() {
    stage.value = 1;
}

async function create() {
    try {
        createLoading.value = true;
        await axios.value.post("/api/items/generate", item.value);
        EventBus.$emit('user-stash-updated-event');
        EventBus.$emit('show-snackbar', {
            message: "Your item has been generated successfully.",
            color: 'success',
            timeout: 3000,
        });
        stage.value = 3;
    } catch (e) {
        console.error(e);
        EventBus.$emit('show-snackbar', {
            message: e.response.data,
            color: 'red',
            timeout: 3000,
        });
    } finally {
        createLoading.value = false;
    }
}

async function createRandomRune() {
    try {
        randomLoading.value = true;
        const response = await axios.value.post("/api/items/generate", {
            type: 1,
            color: 1,
            passive: 1,
            active: 1,
            isRandom: true,
        });
        EventBus.$emit('user-stash-updated-event');
        EventBus.$emit('show-snackbar', {
            message: "Your item has been randomly generated successfully.",
            color: 'success',
            timeout: 3000,
        });
        item.value = response.data;
        stage.value = 3;
    } catch (e) {
        console.error('Error generating random item', e);
        EventBus.$emit('show-snackbar', {
            message: e.response.data,
            color: 'red',
            timeout: 3000,
        });
    } finally {
        randomLoading.value = false;
    }
}

function resetRune() {
    stage.value = 0;
    item.value = {
        color: null,
        passive: null,
        active: null,
        type: null
    };
}

onMounted(async () => {
    axios.value = getCurrentInstance().proxy.$axios;
    await getData(axios.value);
});
</script>

<style scoped lang="scss">
.dice-prefix::before,
.dice-suffix::after {
    content: '';
    background-image: url('/img/dice.png');
    height: 20px !important;
    width: 20px !important;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 2px;
    background-repeat: no-repeat;
    background-size: contain;
}
</style>