<template>
    <div class="d-flex flex-column rune" :class="selected ? 'rune-selected' : ''">
        <v-tooltip bottom>
            <template #activator="{ on, attrs }">
                <v-avatar v-if="!!item && itemMod > -1" class="border-inset mx-auto" tile :size="size"
                    v-on="itemMod > 0 ? on : {}" v-bind="attrs">
                    <v-img v-if="itemMod > 1" cover class="absolute" preload="metadata"
                        :src="imageBasePath + currentRegen?.image"></v-img>
                    <v-img v-if="itemMod > 0" cover class="absolute" preload="metadata"
                        :src="imageBasePath + currentType?.image"></v-img>
                    <v-img v-if="itemMod > 2" cover class="absolute" preload="metadata"
                        :src="imageBasePath + currentPassive?.image"></v-img>
                    <v-img v-if="itemMod > 3" cover class="absolute" preload="metadata"
                        :src="imageBasePath + currentActive?.image"></v-img>
                </v-avatar>
            </template>
            <span v-if="itemMod > 0"><span v-if="itemMod > 1">{{ currentRegen?.text }}</span>
                <span v-if="itemMod > 0">{{ currentType?.text }}</span>
                <span v-if="itemMod > 2">of {{ `${currentPassive?.text}` + (itemMod > 3 ? "'s" : '')
                }}</span>
                <span v-if="itemMod > 3">{{ currentActive?.text }}</span>
                <br />
                <li v-if="itemMod > 1">{{
                    getFullDescription(currentRegen?.description) }}</li>
                <li v-if="itemMod > 2">{{
                    getFullDescription(currentPassive?.description) }}</li>
                <li v-if="itemMod > 3">{{
                    getFullDescription(currentActive?.description) }}</li>
            </span>
        </v-tooltip>
        <v-tooltip color="red" right>
            <template #activator="{ on, attrs }">
                <v-avatar v-if="!!item && itemMod == -1" style="border-style: inset; border-color: darkgrey;" tile
                    :size="size" color="grey" class="mx-auto" v-on="on" v-bind="attrs">
                    <v-img v-if="item" cover class="absolute" :src="imageBasePath + 'vault_empty.png'"
                        preload="metadata"></v-img>
                    <v-img v-if="item" cover class="absolute" :src="imageBasePath + currentRegen?.image"
                        preload="metadata"></v-img>
                    <v-img v-if="item" cover class="absolute" :src="imageBasePath + currentType?.image"
                        preload="metadata"></v-img>
                    <v-img v-if="item" cover class="absolute" :src="imageBasePath + currentPassive?.image"
                        preload="metadata"></v-img>
                    <v-img v-if="item" cover class="absolute" :src="imageBasePath + currentActive?.image"
                        preload="metadata"></v-img>
                </v-avatar>
            </template>
            <span>{{ currentRegen?.text }}
                {{ currentType?.text }}
                of {{ `${currentPassive?.text}`
                }}'s {{ currentActive?.text }}:
                <br />
                <li>{{ getFullDescription(currentRegen?.description) }}</li>
                <li>{{ getFullDescription(currentPassive?.description) }}</li>
                <li>{{ getFullDescription(currentActive?.description) }}</li>
            </span>
        </v-tooltip>


        <div v-if="selected">
            <v-tooltip v-if="!canDelete" bottom>
                <template #activator="{ on, attrs }">
                    <v-btn :loading="isLoading" @click="showActivateDialog = true" class="activate-button" color="green" tile icon v-on="on"
                        v-bind="attrs">
                        <v-icon>mdi-arrow-up-bold-circle</v-icon>
                    </v-btn>
                </template>
                <span>Move to active items
                </span>
            </v-tooltip>

            <v-tooltip v-if="canSalvage" bottom>
                <template #activator="{ on, attrs }">
                    <v-btn :loading="isLoading" @click="showSalvageDialog = true" class="salvage-button" color="red" tile icon v-on="on"
                        v-bind="attrs">
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </template>
                <span>Salvage item
                </span>
            </v-tooltip>

            <v-tooltip v-if="canDelete" bottom>
                <template #activator="{ on, attrs }">
                    <v-btn :loading="isLoading" @click="showDeleteDialog = true" class="delete-button" color="red" tile icon v-on="on"
                        v-bind="attrs">
                        <v-icon>mdi-delete</v-icon>
                    </v-btn>
                </template>
                <span>Delete item
                </span>
            </v-tooltip>

            <v-dialog v-model="showActivateDialog" max-width="300">
                <v-card>
                    <v-card-title class="headline">Activate</v-card-title>
                    <v-card-text>
                        Are you sure you want to activate {{ currentRegen?.text }}
                        {{ currentType?.text }}
                        of {{ `${currentPassive?.text}`
                        }}'s {{ currentActive?.text }}? The item will no longer be salvageable and will expire in
                        three months.
                    </v-card-text>
                    <v-card-actions>
                        <v-btn :loading="isLoading" color="green" @click="activateItem">Activate</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn :loading="isLoading" @click="showActivateDialog = false">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="showSalvageDialog" max-width="300">
                <v-card>
                    <v-card-title class="headline">Salvage</v-card-title>
                    <v-card-text>
                        Are you sure you want to salvage this item for <span class="gold-suffix"><b>
                                {{ salvagedGoldCost }}</b></span>?
                    </v-card-text>
                    <v-card-actions>
                        <v-btn :loading="isLoading" color="red" @click="salvageItem">Salvage</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn :loading="isLoading" @click="showSalvageDialog = false">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="showDeleteDialog" max-width="300">
                <v-card>
                    <v-card-title class="headline">Delete</v-card-title>
                    <v-card-text>
                        Are you sure you want to delete {{ currentRegen?.text }}
                        {{ currentType?.text }}
                        of {{ `${currentPassive?.text}`
                        }}'s {{ currentActive?.text }}? The item will be unrecoverable.
                    </v-card-text>
                    <v-card-actions>
                        <v-btn :loading="isLoading" color="red" @click="deleteItem">Delete</v-btn>
                        <v-spacer></v-spacer>
                        <v-btn :loading="isLoading" @click="showDeleteDialog = false">Cancel</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
    </div>
</template>

<script setup lang="ts">
import {Ref, ref, getCurrentInstance, onMounted, ComputedRef, computed} from "vue";
import { EventBus } from '@/plugins/event-bus';
import {useItems} from "@/components/items/items";
import {Item} from "@/models/Items/Item";

const {imageBasePath, getData, runeGoldCost, getType, getPassive, getRegen, getActive, salvagedGoldCost} = useItems();

const showSalvageDialog: Ref<boolean> = ref(false);
const showActivateDialog: Ref<boolean> = ref(false);
const showDeleteDialog: Ref<boolean> = ref(false);

const props = defineProps({
   item: {
       type: Object,
       required: true,
       default: null
   },
    itemMod: {
        type: Number,
        required: false,
        default: -1
    },
    size: {
        type: Number,
        required: false,
        default: 80
    },
    canSalvage: {
        type: Boolean,
        required: false,
        default: false
    },
    canDelete: {
        type: Boolean,
        required: false,
        default: false
    },
    selected: {
        type: Boolean,
        required: false,
        default: false,
    }
});

const salvageCost: number = runeGoldCost * 0.40;
const axios = ref(null);
const isLoading: Ref<boolean> = ref(false);
const currentRegen: ComputedRef<Item> = computed(() => {
    return getRegen(props.item.color);
});

const currentType: ComputedRef<Item> = computed(() => {
    return getType(props.item.type);
});

const currentActive: ComputedRef<Item> = computed(() => {
    return getActive(props.item.active);
});

const currentPassive: ComputedRef<Item> = computed(() => {
    return getPassive(props.item.passive);
});

function getFullDescription(description: string): string {
    if (!description)
        return;

    return description.replace('[TYPE]', getType(props.item.type)?.description);
}

async function salvageItem(): Promise<void> {
    // Call the salvage API here and handle the response
    try {
        isLoading.value = true;
        // Replace this with your actual API endpoint
        await axios.value.post(`/api/items/salvage/${props.item.id}`);
        EventBus.$emit('user-stash-updated-event');
        EventBus.$emit('show-snackbar', {
            message: `Item salvaged. ${salvageCost} gold received.`,
            // color: 'success',
            timeout: 3000,
        });
        showSalvageDialog.value = false;
    } catch (error) {
        // Handle errors (e.g., show an error message)
        console.error('Error salvaging item:', error);
    } finally {
        isLoading.value = false;
    }
}

async function activateItem(): Promise<void> {
    // Call the salvage API here and handle the response
    try {
        isLoading.value = true;
        // Replace this with your actual API endpoint
        await axios.value.post(`/api/items/activate/${props.item.id}`);
        EventBus.$emit('user-stash-updated-event');
        // Handle the response (e.g., show a success message)
        EventBus.$emit('show-snackbar', {
            message: `Item activated.`,
            color: 'success',
            timeout: 3000,
        });
        showActivateDialog.value = false;
    } catch (error) {
        // Handle errors (e.g., show an error message)
        console.error('Error activating item:', error);
        EventBus.$emit('show-snackbar', {
            message: error.response.data,
            color: '',
            timeout: 3000,
        });
    } finally {
        isLoading.value = false;
    }
}

async function deleteItem(): Promise<void> {
    // Call the salvage API here and handle the response
    try {
        isLoading.value = true;
        // Replace this with your actual API endpoint
        await axios.value.post(`/api/items/delete-active/${props.item.id}`);
        // Handle the response (e.g., show a success message)
        EventBus.$emit('user-stash-updated-event');
        EventBus.$emit('show-snackbar', {
            message: `Item deleted.`,
            color: '',
            timeout: 3000,
        });
        showDeleteDialog.value = false;
    } catch (error) {
        // Handle errors (e.g., show an error message)
        console.error('Error deleting item:', error);
        EventBus.$emit('show-snackbar', {
            message: error.response.data,
            color: '',
            timeout: 3000,
        });
    } finally {
        isLoading.value = false;
    }
}

onMounted(async () => {
    axios.value = getCurrentInstance().proxy.$axios;
    await getData(axios.value);
})
</script>

<style scoped>
.absolute {
    position: absolute;
}

.rune-selected {
    background-image:
        url('/img/stone-texture.jpg');
    background-blend-mode: hard-light;
    background-size: cover;
    border-radius: 5px;
    background-color: rgb(146, 146, 146) !important;
    cursor: pointer;
}

.rune:hover {
    cursor: pointer;
}
</style>
