<template>
    <v-container class="user-profile-container d-flex align-center justify-center">
        <div class="user-profile">
            <!-- <v-card> -->
            <v-toolbar id="account-toolbar" class="stone-texture">
                <v-toolbar-title>My Account</v-toolbar-title>
                <v-spacer></v-spacer>
                <user-gold :size="30"></user-gold>
                <user-level :isUser="true"></user-level>
            </v-toolbar>
            <v-tabs id="account-tabs" horizontal>
                <v-tab to="#profile">
                    <v-icon left>
                        mdi-account
                    </v-icon>
                    Account Info
                </v-tab>
                <v-tab to="#security">
                    <v-icon left>
                        mdi-lock
                    </v-icon>
                    Security
                </v-tab>
                <v-tab to="#vault">
                    <v-avatar class="mr-1" size="28">
                        <img src="~/static/img/vault.jpg" alt="Vault" />
                    </v-avatar>
                    Rune Vault
                </v-tab>
                <v-tab to="#builder">
                    <v-avatar class="mr-1" size="28">
                        <img src="~/static/img/icons/rune-icons/types/object_rune.png" alt="Vault" />
                    </v-avatar>
                    Rune Builder
                </v-tab>

                <v-tab-item value="profile">
                    <v-card flat>
                        <v-card-text>
                            <v-form @submit.prevent="updateProfile">
                                <v-row>
                                    <v-col cols="12">
                                        <h2>Profile</h2>
                                        <div class="my-4">
                                            <h3>Profile Image</h3>
                                            <!-- <div class="my-4">
                                                <v-avatar size="100">
                                                    <img style="object-fit: cover; object-position: top;"
                                                        src="~/static/img/icons/builder.png" />
                                                </v-avatar>
                                            </div> -->
                                            <user-avatar :size="100" :isUser="true"
                                                style="max-width: fit-content;"></user-avatar>
                                            <label for="file-upload" class="file-upload primary">
                                                <input id="file-upload" type="file" style="display: none;"
                                                    @change="handleFileUpload">
                                                Upload Image
                                            </label>
                                        </div>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <h3>Email Address</h3>
                                        <v-text-field v-model="email" style="max-width: 300px;"
                                            label="Email Address"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <h3>Change Password</h3>
                                        <v-text-field v-model="password" style="max-width: 300px;" label="Current Password"
                                            type="password"></v-text-field>
                                        <v-text-field v-model="password" style="max-width: 300px;" label="New Password"
                                            type="password"></v-text-field>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col cols="12">
                                        <h3>Notification Settings</h3>
                                        <v-checkbox class="my-0" v-model="newsletter"
                                            label="Subscribe to News and Updates"></v-checkbox>
                                        <v-checkbox class="my-0" v-model="newsletter"
                                            label="Notify me when I receive a new item"></v-checkbox>
                                    </v-col>
                                </v-row>
                                <v-btn type="submit" class="primary" light tile>Save Changes</v-btn>
                            </v-form>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item value="security">
                    <v-card flat>
                        <v-card-text>
                            <h2>Account Security</h2>
                            <div class="my-4">
                                <span>Placeholder</span>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item value="vault">
                    <v-card flat>
                        <v-card-text>
                            <h2>Rune Vault</h2>

                            <div class="my-4 d-flex flex-row">
                                <active-items></active-items>
                            </div>
                            <hr />
                            <div class="my-4 d-flex flex-row">
                                <item-storage></item-storage>
                            </div>
                            <!-- <hr />
                                <div class="my-4 d-flex flex-row justify-center">
                                </div> -->
                        </v-card-text>
                    </v-card>
                </v-tab-item>
                <v-tab-item value="builder">
                    <v-card flat>
                        <v-card-text>
                            <rune-builder class="mb-16"></rune-builder>
                        </v-card-text>
                    </v-card>
                </v-tab-item>
            </v-tabs>
            <!-- </v-card> -->
        </div>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import authGuard from '../middleware/authGuard';
import UserLevel from '../components/stats/user-level.vue'
import UserGold from '../components/profile/user-gold.vue'
import UserAvatar from '../components/stats/user-avatar.vue'
import ItemStorage from '../components/items/item-storage.vue'
import ActiveItems from '../components/items/active-items.vue'
import RuneBuilder from '../components/items/rune-builder.vue'

export default Vue.extend({
    name: 'account',
    components: {
        UserLevel,
        UserGold,
        UserAvatar,
        ItemStorage,
        ActiveItems,
        RuneBuilder
    },
    data() {
        return {
            activeTab: '',
            email: '',
            password: '',
            newsletter: false,
        };
    },
    middleware: authGuard,
    computed: {
        user() {
            return this.$store.getters.user;
        },
    },
    methods: {
        handleFileUpload(event) {
            if (!event)
                return;
        },
        updateProfile() {
        },
    },
});
</script>

<style lang="scss" scoped>
#account-tabs,
#account-toolbar {
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.user-profile-container {
    margin-bottom: 200px;
}

.user-profile {
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    // margin-right: 200px;
    box-shadow: none !important;
    // background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;

    width: 100%;
    max-width: 1200px;

    .v-tab {
        justify-content: start !important;
        // background-color: rgba($color: #000000, $alpha: 0.5) !important;
    }

    .file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        color: #fff;
        padding: 4px 8px;
        cursor: pointer;
    }

    // ::v-deep .v-slide-group__wrapper {
    //     width: 200px;
    // }

    ::v-deep .theme--dark {
        background-color: initial;
    }
}

::v-deep .v-tabs:not(.v-tabs--vertical):not(.v-tabs--right)>.v-slide-group--is-overflowing.v-tabs-bar--is-mobile:not(.v-slide-group--has-affixes) .v-slide-group__prev {
    display: none;
}

.user-gold {
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}
</style>