<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout justify-center align-center>
                <v-flex xs12 sm6 text-center>
                    <div class="error-container">
                        <h1 class="headline mb-6 white--text">Clans</h1>
                        <h2 class="subheading mb-6 white--text">S2oon to be implemented ;).</h2>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
    name: "clans",
    components: {

    }
});
</script>

<style scoped>
.error-container>.headline {
    font-size: 4.5rem !important;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
}

.error-container>.subheading {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 1px #000;
}
</style>
