<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <div class="forgot-password-form">
                    <v-container>
                        <div class="mb-8 mx-auto d-flex align-center justify-center" style="min-height: 120px;">
                            <v-img src="img/savage-2.png" max-width="400px"></v-img>
                        </div>
                        <v-card class="mx-auto text-center card-border">
                            <h2 class="uppercase ma-4">Account Recovery</h2>
                            <v-stepper v-model="step">
                                <v-stepper-items>
                                    <v-stepper-content step="1">
                                        <form @submit.prevent="forgotPassword()" class="px-4">
                                            <div>
                                                <v-text-field v-model="email" for="email" label="Email" required
                                                    name="email" type="email" width="300px"></v-text-field>
                                            </div>
                                            <div class="d-flex flex-column align-center justify-center">
                                                <v-btn v-if="!loading" type="submit" class="primary my-4 whitespace"
                                                    width="100%" tile>Send Recovery Link</v-btn>
                                                <v-btn v-else :disabled="loading" type="submit" class="primary my-4"
                                                    width="100%" tile><v-progress-circular indeterminate
                                                        size="24" /></v-btn>
                                            </div>
                                        </form>
                                        <v-container>
                                            <div class="my-4 d-flex flex-column align-center justify-center">
                                                <v-label>
                                                    <span>Not registered?</span>
                                                    <router-link to="/register" class="mx-2 d-flex">
                                                        <span class="uppercase primary font-weight-bold">Create
                                                            account</span>
                                                    </router-link>
                                                </v-label>
                                            </div>
                                        </v-container>
                                    </v-stepper-content>
                                    <v-stepper-content step="2">
                                        <div class="mx-4">
                                            <v-form @submit.prevent="forgotPassword()">
                                                <p class="mb-8">A recovery link has been sent to {{ email }}.</p>
                                                <v-btn v-if="!loading" type="submit" class="primary mb-4" height="50px"
                                                    width="100%" tile>Resend Recovery Email</v-btn>
                                                <v-btn v-else :disabled="loading" class="primary mb-4" height="50px"
                                                    width="100%" tile><v-progress-circular indeterminate
                                                        size="24" /></v-btn>
                                                <p v-show="resendRecoveryEmailErrorMessage"
                                                    class="d-flex flex-row align-center justify-center">
                                                    <v-icon v-show="resendRecoveryEmailErrorMessage" class="mr-2"
                                                        style="color: #c98200">mdi-alert</v-icon>
                                                    {{ resendRecoveryEmailErrorMessage }}
                                                </p>
                                            </v-form>
                                        </div>
                                    </v-stepper-content>
                                </v-stepper-items>
                            </v-stepper>
                        </v-card>
                    </v-container>
                </div>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>

<script lang="ts">
import Vue from "vue";
import { mapGetters } from 'vuex';

export default Vue.extend({
    name: "forgot-password",
    middleware: 'redirectIfAuthenticated',
    data() {
        return {
            email: '',
            password: '',
            rememberMe: false,
            resendRecoveryEmailErrorMessage: '',
            loading: false,
            step: 1
        };
    },
    computed: {
        ...mapGetters({
            isUserAuthenticated: 'isLoggedIn',
            user: 'user'
        }),
    },
    methods: {
        async forgotPassword() {
            this.loading = true;

            try {
                await this.$authService.sendRecoveryEmail(this.email);
                this.step = 2;
            } catch (error: any) {
                console.error(error.response.data);
                this.resendRecoveryEmailErrorMessage = error.response.data;
            } finally {
                this.loading = false;
            }
        },
        logout() {
            this.$authService.logout();
        }
    },
});
</script>

<style lang="scss" scoped>
.forgot-password-form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin-bottom: 200px;
}

::v-deep.v-sheet:first-of-type {
    background-color: rgba($color: #000000, $alpha: 0) !important;
}

::v-deep.v-sheet {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.card-border {
    border-radius: 0;
    padding: 5px;
}
</style>