<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout justify-center align-center>
                <v-flex xs12 sm6 text-center>
                    <div class="error-container">
                        <h1 class="headline mb-6 white--text">Forums</h1>
                        <h2 class="subheading mb-6 white--text">S2oon to be implemented ;). Be sure to check out the
                            Discord.</h2>
                        <iframe src="https://discord.com/widget?id=734482796424462506&theme=dark" width="100%" height="100%"
                            allowtransparency="true" frameborder="0"
                            sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>

<script>
import Vue from "vue";

export default Vue.extend({
    name: "forums",
    components: {

    }
});
</script>

<style scoped>
.error-container>.headline {
    font-size: 4.5rem !important;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
}

.error-container>.subheading {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    text-shadow: 1px 1px 1px #000;
}
</style>
