<template>
    <v-theme-provider dark>
        <section id="hero" class="bg-slate">

            <div class="hero-container">
                <video class="hero hero-background" preload="metadata" data-testid="hero:video" loop muted autoplay
                    playsinline>
                    <source src="/vid/hero-blurred.webm" type="video/webm">
                </video>

                <div class="hero-description" preload="metadata">
                    <v-img :max-width="$vuetify.breakpoint.smAndDown ? '25em' : '40vw'" src="img/official-logo.png"
                        preload="metadata" />
                    <v-btn to="/download" style="filter: drop-shadow(0em 0em 0.25em black);"
                        class="mt-6 swipe-animation primary white--text" x-large tile raised>
                        Play now
                    </v-btn>
                </div>

            </div>

            <div class="scrollable-content">
                <!-- News BANNER -->
                <div class="vertical-fade-reverse white--text fade-overlay">
                    <news-banner></news-banner>
                </div>
                <!-- /NEWS BANNER -->

                <!-- CONTENT -->
                <div class="radial-fade">
                    <img class="content-image" src="img/backgrounds/3.png" alt="Behe-Scout" />
                </div>
                <!-- /CONTENT -->

                <!-- TEXT SECTION -->
                <div class="vertical-fade-reverse white--text mx-auto d-flex flex-column align-center justify-center fade-overlay"
                    style="height: 18.75em">
                    <div class="d-flex flex-column align-center justify-center" data-aos="fade-up"
                        data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="0"
                        data-aos-easing="ease-in-sine">
                        <div :class="[$vuetify.breakpoint.smAndDown ? 'display-2' : 'display-3']"
                            class="section-heading text-center">
                            <div>JOIN THE BATTLE FOR NEWERTH</div>
                            <divider v-if="!$vuetify.breakpoint.smAndDown" borderWidth="6"
                                data-aos-anchor-placement="center-bottom" data-aos="flip-left" data-aos-easing="ease-out"
                                data-aos-duration="3000"></divider>
                        </div>
                    </div>
                </div>
                <!-- /TEXT SECTION -->

                <!-- CONTENT -->
                <div class="radial-fade">
                    <video class="video video-background" preload="metadata" data-testid="hero:video" loop muted autoplay
                        playsinline>
                        <source src="/vid/savage2overview.mp4" type="video/mp4">
                    </video>
                </div>
                <!-- /CONTENT -->

                <!-- TEXT SECTION -->
                <div v-if="!$vuetify.breakpoint.smAndDown"
                    class="vertical-fade-reverse white--text d-flex flex-column align-center justify-center fade-overlay"
                    style="height: 18.75em">
                    <div class="d-flex flex-column align-center justify-center" data-aos="fade-up"
                        data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="0"
                        data-aos-easing="ease-in-sine">
                        <div :class="[$vuetify.breakpoint.smAndDown ? 'display-2' : 'display-3']"
                            class="section-heading text-center">
                            <div>CHOOSE YOUR FACTION</div>
                            <divider v-if="!$vuetify.breakpoint.smAndDown" borderWidth="6"
                                data-aos-anchor-placement="center-bottom" data-aos="flip-left" data-aos-easing="ease-out"
                                data-aos-duration="3000"></divider>
                        </div>
                    </div>
                </div>
                <!-- /TEXT SECTION -->

                <!-- CONTENT -->
                <div v-if="!$vuetify.breakpoint.smAndDown"
                    class="radial-fade white--text d-flex flex-column align-center justify-center" style="height: 62.5em">
                    <img class="overlay-image-flag-human" :class="!showHumanUnitsOverlay ? 'highlight-on-hover' : ''"
                        src="img/flag_Human.png" alt="Human Flag" @click="toggleHumanOverlay">
                    <img class="overlay-image-flag-beast" :class="!showBeastUnitsOverlay ? 'highlight-on-hover' : ''"
                        src="img/flag_Beast.png" alt="Beast Flag" @click="toggleBeastOverlay">
                    <img :style="showHumanUnitsOverlay ? 'z-index: 4;' : ''"
                        :class="!showHumanUnitsOverlay ? 'highlight-on-hover' : ''" class="overlay-image-human"
                        src="img/human.png" alt="Human" @click="toggleHumanOverlay">
                    <img :style="showBeastUnitsOverlay ? 'z-index: 4;' : ''"
                        :class="!showBeastUnitsOverlay ? 'highlight-on-hover' : ''" class="overlay-image-beast"
                        src="img/beast.png" alt="Beast" @click="toggleBeastOverlay">
                    <transition name="slide-x-transition">
                        <div v-if="showHumanUnitsOverlay" class="overlay">
                            <div class="d-flex flex-row align-end justify-end" style="height: 100%; width: 100%;">
                                <div class="d-flex flex-column justify-center align-center flex-grow-1"
                                    style="height: 100%; width: 100%;">
                                    <unit-preview :faction="0" class="mt-5"
                                        :class="[$vuetify.breakpoint.smAndDown ? 'mx-1' : 'mx-5']"></unit-preview>
                                </div>
                            </div>
                        </div>
                    </transition>

                    <transition name="slide-x-transition-reverse">
                        <div v-if="showBeastUnitsOverlay" class="overlay">
                            <div class="d-flex flex-row align-end justify-end" style="height: 100%; width: 100%;">
                                <div class="d-flex flex-column justify-center align-center flex-grow-1"
                                    style="height: 100%; width: 100%;">
                                    <unit-preview :faction="1" class="mt-5"
                                        :class="[$vuetify.breakpoint.smAndDown ? 'mx-1' : 'mx-5']"></unit-preview>
                                </div>
                            </div>
                        </div>
                    </transition>

                    <v-img src="img/hvb-background.png" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="100%"
                        width="100%" position="center center" cover>
                        <v-row v-if="!showHumanUnitsOverlay && !showBeastUnitsOverlay" style="height: 100%;"
                            justify="space-between" align="center">
                            <v-col cols="auto">
                                <div class="glow-wrapper-human">
                                    <img class="faction-image" src="img/human-legion-title.png" @click="toggleHumanOverlay"
                                        alt="Human Legion" data-aos="fade-right" data-aos-anchor-placement="center-bottom"
                                        data-aos-duration="1000" data-aos-offset="0" data-aos-easing="ease-in-cubic" />
                                </div>
                                <smoke-effect :classType="'human'"></smoke-effect>
                            </v-col>
                            <v-col cols="auto">
                                <div class="glow-wrapper-horde">
                                    <img class="faction-image" src="img/beast-horde-title.png" @click="toggleBeastOverlay"
                                        alt="Beast Horde" data-aos="fade-left" data-aos-anchor-placement="center-bottom"
                                        data-aos-duration="1000" data-aos-offset="0" data-aos-easing="ease-in-cubic" />
                                </div>
                                <smoke-effect :classType="'beast'"></smoke-effect>
                            </v-col>
                        </v-row>
                    </v-img>
                </div>
                <!-- /CONTENT -->

                <!-- TEXT SECTION -->
                <div class="vertical-fade-reverse white--text d-flex flex-column align-center justify-center fade-overlay"
                    style="height: 18.75em">
                    <div class="d-flex flex-column align-center justify-center" data-aos="fade-up"
                        data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="0"
                        data-aos-easing="ease-in-sine">
                        <div :class="[$vuetify.breakpoint.smAndDown ? 'display-2' : 'display-3']"
                            class="section-heading text-center">
                            <div>COMMAND THE BATTLEFIELD</div>
                            <divider v-if="!$vuetify.breakpoint.smAndDown" borderWidth="6"
                                data-aos-anchor-placement="center-bottom" data-aos="flip-left" data-aos-easing="ease-out"
                                data-aos-duration="3000"></divider>
                        </div>
                    </div>
                </div>
                <!-- /TEXT SECTION -->

                <!-- CONTENT -->
                <div class="radial-fade white--text d-flex flex-column align-center justify-center my-16"
                    style="height: 93.75em">
                    <v-img src="img/stone-texture.jpg" gradient="to bottom left, rgba(0 78 71 / 10%), rgba(70 30 0 / 54%)"
                        height="100%" width="100%" position="center center" cover>
                        <div class="d-flex flex-column align-center justify-center white--text text-center"
                            style="height: 100%; margin-right: 6.25em; margin-left: 6.25em;" data-aos="fade-up"
                            data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="-200"
                            data-aos-easing="ease-in-sine">
                            <h2 class="uppercase my-12">Strategize with your teammates on many unique maps</h2>
                            <map-preview></map-preview>
                            <div class="d-flex flex-column justify-center white--text text-center"
                                style="margin-right: 6.25em; margin-left: 6.25em;" data-aos="fade-up"
                                data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="-200"
                                data-aos-easing="ease-in-sine">
                                <h2 class="uppercase my-12">Develop your economy, research powerful new units and upgrades
                                    and support
                                    your team from above</h2>
                                <video
                                    style="max-width: 80vw; height: 25em; filter: drop-shadow(0.75em 0.75em 0.875em black);"
                                    preload="metadata" data-testid="comm:video" loop muted autoplay>
                                    <source src="/vid/comm_highlights.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </v-img>
                </div>
                <!-- /CONTENT -->

                <!-- TEXT SECTION -->
                <div class="vertical-fade-reverse fade-overlay" style="height: 18.75em">
                    <div class="d-flex flex-column align-center justify-center white--text" data-aos="fade-up"
                        data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="0"
                        data-aos-easing="ease-in-sine">
                    </div>
                </div>
                <!-- /TEXT SECTION -->

                <!-- CONTENT -->
                <div class="vertical-fade-bottom content-image">
                    <v-img src="img/battle-background.png" position="center center" cover>
                        <div class="d-flex flex-column align-center justify-center white--text" style="height: 100%;">
                            <div class="d-flex flex-column align-center justify-center" data-aos="fade-up"
                                data-aos-anchor-placement="center-bottom" data-aos-duration="1500" data-aos-offset="0"
                                data-aos-easing="ease-in-sine">
                                <div :class="[$vuetify.breakpoint.smAndDown ? 'display-2' : 'display-3']"
                                    class="section-heading text-center my-6">
                                    <div>PLAY FREE NOW</div>
                                    <divider v-if="!$vuetify.breakpoint.smAndDown" borderWidth="6"
                                        data-aos-anchor-placement="center-bottom" data-aos="flip-left"
                                        data-aos-easing="ease-out" data-aos-duration="3000"></divider>
                                </div>
                                <download-control></download-control>
                            </div>
                        </div>
                    </v-img>
                </div>
                <!-- /CONTENT -->
            </div>
        </section>
    </v-theme-provider>
</template>

<script lang="ts">
import AOS from 'aos';
import 'aos/dist/aos.css';
import Vue from "vue";
import NewsBanner from "@/components/news/news-banner.vue";
import DownloadControl from "@/components/download-control.vue";
import SmokeEffect from "@/components/smoke-effect.vue";
import UnitPreview from "@/components/units/unit-preview.vue";
import MapPreview from "@/components/map/map-preview.vue";

export default Vue.extend({
    name: 'index',
    components: {
        NewsBanner,
        DownloadControl,
        SmokeEffect,
        UnitPreview,
        MapPreview
    },
    data() {
        return {
            showHumanUnitsOverlay: false,
            showBeastUnitsOverlay: false,
        };
    },
    mounted() {
        AOS.init({
            once: false
        });
    },
    methods: {
        toggleHumanOverlay() {
            if (this.showBeastUnitsOverlay)
                this.showBeastUnitsOverlay = false;

            this.showHumanUnitsOverlay = !this.showHumanUnitsOverlay;
        },
        toggleBeastOverlay() {
            if (this.showHumanUnitsOverlay)
                this.showHumanUnitsOverlay = false;

            this.showBeastUnitsOverlay = !this.showBeastUnitsOverlay;
        },
    },
});
</script>

<style scoped>
.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.video-background {
    min-width: 100%;
    min-height: 80vh;
}

.video {
    object-fit: cover;
    min-width: 100%;
    max-width: 100%;
    position: relative;
}

.content-image,
.content-image>.v-image {
    min-width: 100%;
    min-height: 80vh;
    position: relative;
    max-width: 100%;
}

.video-foreground {
    position: relative;
    transform: scale(1.4) translateX(-20%) translateY(20%);
    margin: 0 auto;
    margin-bottom: -3.125em;
    max-height: 100%;
    overflow: hidden;
    box-shadow: 0em 0.4375em 0.5em -0.25em rgba(0, 0, 0, 0.2), 0em 0.75em 1.0625em 0.125em rgba(0, 0, 0, 0.14), 0em 0.3125em 1.375em 0.25em rgba(0, 0, 0, 0.12) !important;
}

.hero {
    object-fit: cover;
    position: absolute;
}

.hero-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 21.875em;
    z-index: 1;
}

.hero-description {
    padding-top: 6.25em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollable-content {
    margin-bottom: -0.4375em;
}

.content-row {
    width: 100%;
    padding: 0.625em;
    padding-bottom: 3.125em;
    border-style: inset;
    border-left: 0;
    border-right: 0;
    background-color: rgba(30, 30, 30, 0.8);
}

.card-border {
    border-radius: 0;
}

.card-border>div {
    padding: 0.3125em;
    width: 100%;
    height: 100%;
}

.carbon-pattern {
    background: linear-gradient(27deg, #151515 0.3125em, transparent 0.3125em) 0 0.3125em,
        linear-gradient(207deg, #151515 0.3125em, transparent 0.3125em) 0.625em 0em,
        linear-gradient(27deg, #222 0.3125em, transparent 0.3125em) 0em 0.625em,
        linear-gradient(207deg, #222 0.3125em, transparent 0.3125em) 0.625em 0.3125em,
        linear-gradient(90deg, #1b1b1b 0.625em, transparent 0.625em),
        linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 1em 0.875em;
}

.faction-image:hover {
    -webkit-filter: drop-shadow(0.0625em 0.0625em 0 white) drop-shadow(-0.0625em 0.0625em 0 white) drop-shadow(0.0625em -0.0625em 0 white) drop-shadow(-0.0625em -0.0625em 0 white);

    filter: drop-shadow(0.0625em 0.0625em 0 white) drop-shadow(-0.0625em 0.0625em 0 white) drop-shadow(0.0625em -0.0625em 0 white) drop-shadow(-0.0625em -0.0625em 0 white);
}

.faction-image {
    background-size: cover;
    position: relative;
    width: 21.875em;

    @media (max-width: 43.75em) {
        width: 12.5em;
    }
}

.glow-wrapper-horde {
    position: relative;
    display: inline-block;
    border-radius: 0.5em;
    transition: background 0.5s ease;
}

.glow-wrapper-horde::before {
    content: '';
    position: absolute;
    width: 400%;
    /* Increase/decrease these values to adjust the size of the glow */
    height: 500%;
    top: 30%;
    left: 40%;
    transform: translate(-35%, -50%) rotate(90deg);
    background: radial-gradient(ellipse at center,
            rgba(180, 105, 250, 0.549),
            rgba(180, 105, 250, 0.349),
            rgba(180, 105, 250, 0.149),
            rgba(180, 105, 250, 0.049),
            rgba(180, 105, 250, 0.001) 70%,
            transparent);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.glow-wrapper-horde:hover::before {
    opacity: 1;
}

.glow-wrapper-human {
    position: relative;
    display: inline-block;
    border-radius: 0.5em;
    transition: background 0.5s ease;
}

.glow-wrapper-human::before {
    content: '';
    position: absolute;
    width: 400%;
    /* Increase/decrease these values to adjust the size of the glow */
    height: 500%;
    bottom: 30%;
    right: 40%;
    transform: translate(35%, 50%) rotate(270deg);
    background: radial-gradient(ellipse at center,
            rgba(241, 112, 112, 0.549),
            rgba(241, 112, 112, 0.349),
            rgba(241, 112, 112, 0.149),
            rgba(241, 112, 112, 0.049),
            rgba(241, 112, 112, 0.001) 70%,
            transparent);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.glow-wrapper-human:hover::before {
    opacity: 1;
}

@keyframes custom-animation {
    from {
        visibility: hidden;
    }

    0% {
        clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
    }

    100% {
        clip-path: polygon(100% 100%, -200% 100%, 100% -200%);
    }

    to {
        visibility: visible;
    }
}

[data-aos="custom-animation"].aos-animate {
    opacity: 1;
    transform: translateY(0);
    animation-name: custom-animation;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.25, 0.1, 0.1, 1);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Define the slide-left transition */
.slide-x-enter-active,
.slide-x-leave-active {
    transition: transform 20s cubic-bezier(1.25, 1.1, 1.25, 1), opacity 20s ease;
}

.slide-x-enter,
.slide-x-leave-to {
    transform: translateX(100%);
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.overlay-image-human {
    position: absolute;
    bottom: 1.875em;
    left: 0;
    /* max-width: 100%;
    max-height: 100%; */
    width: 32em;
    height: auto;
    max-width: 45vw;
    z-index: 2;
}

.overlay-image-flag-human {
    margin-left: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    /* max-width: 100%; */
    width: 7.5em;
    height: 21.875em;
    max-width: 45vw;
    z-index: 3;
}

.overlay-image-beast {
    position: absolute;
    bottom: 1.875em;
    right: 0;
    /* max-width: 20%;
    max-height: 50%; */
    width: 32em;
    height: 16em;
    max-width: 45vw;
    z-index: 2;
}

.highlight-on-hover:hover {
    -webkit-filter: drop-shadow(0.0625em 0.0625em 0 white) drop-shadow(-0.0625em 0.0625em 0 white) drop-shadow(0.0625em -0.0625em 0 white) drop-shadow(-0.0625em -0.0625em 0 white);

    filter: drop-shadow(0.0625em 0.0625em 0 white) drop-shadow(-0.0625em 0.0625em 0 white) drop-shadow(0.0625em -0.0625em 0 white) drop-shadow(-0.0625em -0.0625em 0 white);
}

.overlay-image-flag-beast {
    margin-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    /* max-width: 100%;
    max-height: 100%; */
    width: 7.5em;
    height: 21.875em;
    max-width: 45vw;
    z-index: 3;
}
</style>