<template>
    <div>
        <leaderboard class="leaderboard" :pageSize="100"></leaderboard>
        <news-banner></news-banner>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Leaderboard from "@/components/stats/leaderboard.vue";
import NewsBanner from "@/components/news/news-banner.vue";

export default Vue.extend({
    name: "matches",
    components: {
        Leaderboard,
        NewsBanner,
    }
});
</script>

<style lang="scss" scoped>
.leaderboard {
    margin-bottom: 200px !important;
}
</style>