<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <div class="login-form">
                    <v-container>
                        <div class="mb-8 mx-auto d-flex align-center justify-center" style="min-height: 120px;">
                            <v-img src="img/savage-2.png" max-width="400px"></v-img>
                        </div>
                        <v-card class="mx-auto text-center card-border">
                            <h2 class="uppercase ma-4">Sign In</h2>
                            <v-stepper v-model="step">
                                <v-stepper-items>
                                    <v-stepper-content step="1">
                                        <form @submit.prevent="login()" class="px-4">
                                            <div>
                                                <v-text-field v-model="email" for="email" label="Email" required name="email" type="email"
                                                    width="300px"></v-text-field>
                                            </div>
                                            <div>
                                                <v-text-field v-model="password" label="Password" required type="password" id="pwd" name="password"
                                                    width="300px"></v-text-field>
                                                <v-container class="d-flex flex-row align-center justify-end py-0 mb-8">
                                                    <v-label>
                                                        <router-link to="/forgot-password">
                                                            <span class="primary">Can't log in?</span>
                                                        </router-link>
                                                    </v-label>
                                                </v-container>
                                            </div>
                                            <div class="d-flex flex-column align-center justify-center">
                                                <v-btn v-if="!loading" type="submit" class="primary my-4" width="100%" tile>Sign In</v-btn>
                                                <v-btn v-else :disabled="loading" type="submit" class="primary my-4" width="100%" tile><v-progress-circular indeterminate size="24" /></v-btn>
                                            </div>
                                        </form>
                                    </v-stepper-content>
                                    <v-stepper-content step="2">
                                        <div class="mx-4">
                                            <v-form @submit.prevent="resendVerificationEmail()">
                                                <p class="mb-8">A verification link has been sent to {{ email }}. Follow
                                                    the link to complete account creation.</p>
                                                <v-btn v-if="!isSendingVerificationEmail" type="submit" class="primary mb-4" height="50px" width="100%"
                                                    tile>Resend Verification Email</v-btn>
                                                <v-btn v-else disabled class="primary mb-4" height="50px" width="100%"
                                                    tile><v-progress-circular indeterminate size="24" /></v-btn>
                                                <p v-show="resendVerificationErrorMessage" class="d-flex flex-row align-center justify-center">
                                                    <v-icon v-show="resendVerificationErrorMessage" class="mr-2" style="color: #c98200">mdi-alert</v-icon>
                                                    {{ resendVerificationErrorMessage }}
                                                </p>
                                            </v-form>
                                        </div>
                                    </v-stepper-content>
                                </v-stepper-items>
                            </v-stepper>
                            <v-container>
                                <div class="my-4 d-flex flex-column align-center justify-center">
                                    <v-label>
                                        <span>Not registered?</span>
                                        <router-link to="/register" class="mx-2">
                                            <span class="uppercase primary font-weight-bold">Create
                                                account</span>
                                        </router-link>
                                    </v-label>
                                </div>
                            </v-container>
                        </v-card>
                    </v-container>
                </div>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>

<script lang="ts">
import { LoginData } from '@/services/auth-service';
import Vue from "vue";
import { mapGetters } from 'vuex';

export default Vue.extend({
    name: "login",
    middleware: 'redirectIfAuthenticated',
    data() {
        return {
            email: '',
            password: '',
            rememberMe: false,
            loading: false,
            resendVerificationErrorMessage: '',
            isSendingVerificationEmail: false,
            step: 1
        };
    },
    computed: {
        ...mapGetters({
            isUserAuthenticated: 'isLoggedIn',
            user: 'user'
        }),
    },
    methods: {
        async login() {
            const data: LoginData = {
                email: this.email,
                password: this.password,
                rememberMe: this.rememberMe
            }

            this.loading = true;

            try {
                await this.$authService.login(data);
                
                if (this.isUserAuthenticated)
                    this.$router.push('/');
            } catch (error) {
                if (error.response.status == 400 && error.response.data.code == 'EMAIL_NOT_VERIFIED') {
                    this.step = 2;
                }

                console.error(error);
            } finally {
                this.loading = false;
            }
        },
        logout() {
            this.$authService.logout();
        },
        async resendVerificationEmail() {
            this.isSendingVerificationEmail = true;

            try {
                await this.$authService.resendVerificationEmail(this.email);
            } catch (error: any) {
                console.error(error.response.data);
                this.resendVerificationErrorMessage = error.response.data;
            } finally {
                this.isSendingVerificationEmail = false;
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.login-form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-bottom: 200px;
}

::v-deep.v-sheet:first-of-type {
    background-color: rgba($color: #000000, $alpha: 0) !important;
}
::v-deep.v-sheet {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.card-border {
    border-radius: 0;
    padding: 5px;
}
</style>