<template>
    <v-container>
        <v-container class="news-container">
            <v-row>
                <v-col cols="12" v-for="item in newsItems" :key="item.id">
                    <v-card dark :elevation="12" class="news-item">
                        <v-img height="200px" :src="`${backgrounds[+item?.imageId]}`"></v-img>
                        <v-layout class="pa-0">
                            <v-row class="ma-4">
                                <v-card-title>
                                    <h2>{{ item.title }}</h2>
                                </v-card-title>
                                <v-spacer></v-spacer>
                                <v-card-subtitle class="pa-0 pl-4 subtitle">{{ formatCreatedAt(item.createdAt) }} by <b>{{
                                    item.author || "Admin"
                                }}</b></v-card-subtitle>
                            </v-row>
                        </v-layout>
                        <div class="mx-8">
                            <p>{{ item.content }}</p>
                        </div>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
        <news-banner></news-banner>
    </v-container>
</template>
  
<script lang="ts">
import Vue from "vue";
import moment from "moment";
import NewsBanner from "@/components/news/news-banner.vue";

export default Vue.extend({
    name: 'news',
    components: {
        NewsBanner
    },
    data() {
        return {
            newsItems: [],
            backgrounds: ["img/backgrounds/1.png", "img/backgrounds/2.png", "img/backgrounds/3.png",
                "img/backgrounds/4.png", "img/backgrounds/5.png", "img/backgrounds/6.png"]
            // newsItems: [
            //     { id: 1, date: new Date(), title: 'News 1', author: 'Author 1', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.' },
            //     { id: 2, date: new Date(), title: 'News 2', author: 'Author 2', text: 'Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' },
            //     { id: 3, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 4, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 5, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 6, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 7, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 8, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 9, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 10, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 11, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 12, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     { id: 13, date: new Date(), title: 'News 3', author: 'Author 3', text: 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' },
            //     // Add more news items as needed
            // ] as NewsItem[],
        };
    },
    methods: {
        formatCreatedAt(value: string) {
            return moment(value).format("HH:mm DD/MM/YY");
        },
    },
    async created() {
        this.loading = true;

        try {
            const response = await this.$axios.get("/api/news", {
                // params: {
                //     page: this.options.page,
                //     pageSize: this.options.itemsPerPage,
                //     sortBy: this.options.sortBy[0],
                //     isAscending: !this.options.sortDesc[0],
                // },
            });

            this.newsItems = response.data;
            this.loading = false;
        } catch (error) {
            // Handle the error or return an error response
            console.error("Error fetching data:", error);
            this.loading = false;
        }
    }
});
</script>

<style lang="scss" scoped>
.news-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 200px;
}

@media (max-width: 600px) {
    .news-container {
        max-width: 100%;
    }
}

.news-container .news-item {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    padding-bottom: 50px;
}
</style>
  