<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <div class="register-form">
                    <v-container>
                        <div class="mb-8 mx-auto d-flex align-center justify-center" style="min-height: 7.5em;">
                            <v-img src="img/savage-2.png" max-width="25em"></v-img>
                        </div>
                        <v-card class="mx-auto text-center card-border">
                            <h2 v-show="step < 3" class="uppercase ma-4">ACCOUNT CREATION</h2>
                            <h2 v-show="step === 3" class="uppercase ma-4">ACCOUNT CREATED</h2>
                            <transition name="slide">
                              <validation-observer ref="observer" v-slot="{invalid}">
                                <v-stepper v-show="showStepper" v-model="step" key="stepper" direction="horizontal">
                                    <v-stepper-header>
                                        <!-- <v-divider></v-divider> -->
                                        <v-stepper-step :complete="step > 2" step="1">{{ stepLabels[0] }}</v-stepper-step>
                                        <v-divider></v-divider>
                                        <v-stepper-step :complete="step > 3" step="2">{{ stepLabels[1] }}</v-stepper-step>
                                        <v-divider></v-divider>
                                        <v-stepper-step step="3">{{ stepLabels[2] }}</v-stepper-step>
                                    </v-stepper-header>
                                    <v-stepper-items>
                                        <v-stepper-content step="1">
                                            <div class="mx-4" v-if="step === 1">
                                                  <validation-provider :debounce="500" rules="required|valid-username|username-exists" v-slot="{ errors }" name="Username">
                                                    <v-text-field v-model="username"
                                                                  @keydown.enter="nextStep(2)"
                                                                  :error-messages="errors"
                                                                  autofocus
                                                                  label="Username">
                                                    </v-text-field>
                                                    <p class="my-4 d-flex flex-row align-center justify-center">
                                                        <v-icon class="mr-2">mdi-information</v-icon>
                                                        This will be the name displayed in-game and on the Savage 2 website.
                                                    </p>
                                                  </validation-provider>
                                                <div class="d-flex align-center justify-end">
                                                    <v-btn class="primary" @click="nextStep(2)"
                                                        :disabled="invalid">Next</v-btn>
                                                </div>
                                            </div>
                                        </v-stepper-content>
                                        <v-stepper-content step="2">
                                            <div class="mx-4" v-if="step === 2">
                                                <v-form @submit.prevent="registerAndProceed">
                                                    <div class="mb-8">
                                                        <div>
                                                          <validation-provider :debounce="500" rules="required|email|email-exists" v-slot="{ errors }" name="Email">
                                                            <v-text-field v-model="email"
                                                                          persistent-hint
                                                                          autofocus
                                                                :error-messages="errors" label="Email"
                                                                type="email" width="18.75em">
                                                            </v-text-field>
                                                          </validation-provider>
                                                        </div>
                                                        <div>
                                                          <validation-provider rules="required|password-confirmation:@Confirm Password|valid-password" name="Password" v-slot="{ errors }">
                                                            <v-text-field v-model="password" label="Password" :error-messages="errors" :hint="passwordHint"
                                                                type="password" width="18.75em"></v-text-field>
                                                          </validation-provider>
                                                        </div>
                                                        <div>
                                                          <validation-provider rules="required" v-slot="{ errors }" name="Confirm Password">
                                                            <v-text-field v-model="confirmPassword" label="Confirm Password"
                                                                type="password" width="18.75em"
                                                                @keydown.enter="registerAndProceed"
                                                                :error-messages="errors">
                                                            </v-text-field>
                                                          </validation-provider>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-center justify-space-between">
                                                        <v-btn text @click="step = 1">Back</v-btn>
                                                        <v-btn :loading="loading" :disabled="invalid" type="submit"
                                                            class="primary" width="12.5em">
                                                            Create Account
                                                        </v-btn>
                                                    </div>
                                                </v-form>
                                            </div>
                                        </v-stepper-content>
                                        <v-stepper-content step="3">
                                            <div class="mx-4" v-if="step === 3">
                                                <v-form @submit.prevent="resendVerificationEmail()">
                                                    <p class="mb-8">A verification link has been sent to {{ email }}. Follow
                                                        the link to complete your account creation.</p>
                                                    <v-btn :loading="isSendingVerificationEmail" type="submit"
                                                        class="primary mb-4" height="3.125em" width="100%" tile>Resend
                                                        Verification Email</v-btn>
                                                    <p v-show="resendVerificationErrorMessage"
                                                        class="d-flex flex-row align-center justify-center">
                                                        <v-icon v-show="resendVerificationErrorMessage" class="mr-2"
                                                            style="color: #c98200">mdi-alert</v-icon>
                                                        {{ resendVerificationErrorMessage }}
                                                    </p>
                                                </v-form>
                                            </div>
                                        </v-stepper-content>
                                    </v-stepper-items>
                                </v-stepper>
                              </validation-observer>
                            </transition>
                            <v-container v-show="showStepper">
                                <div class="my-4 d-flex flex-column align-center justify-center">
                                    <v-label>
                                        <span>Already have an account?</span>
                                        <router-link to="/login" class="mx-2">
                                            <span class="uppercase primary font-weight-bold">Sign in</span>
                                        </router-link>
                                    </v-label>
                                </div>
                            </v-container>
                        </v-card>
                    </v-container>
                </div>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>

<script lang="ts">
import { debounce } from 'lodash';
import { RegisterData } from '@/services/auth-service';
import Vue from "vue";

export default Vue.extend({
    name: "register",
    middleware: 'redirectIfAuthenticated',
    data() {
        return {
          passwordHint: 'Password must contain at least one special character, one number, one uppercase letter, and be 8 characters minimum.',
            email: '',
            password: '',
            confirmPassword: '',
            step: 1,
            username: '',
            loading: false,
            isSendingVerificationEmail: false,
            emailErrorMessage: '',
            showStepper: true,
            resendVerificationErrorMessage: ''
        };
    },
    computed: {
        stepLabels(): string[] {
            return ['Create Username', 'Create Account', 'Verify Account'];
        }
    },
    methods: {
        nextStep(step) {
            this.step = step;
        },
        async registerAndProceed() {
          const isValid = this.$refs.observer.validate();
          if(isValid) {
            this.loading = true;
            try {
              const response = await this.register();

              if (response)
                this.step = 3;

            } finally {
              this.loading = false;
            }
          }
        },
        async register() {
            let response;
            this.emailErrorMessage = '';

            if (this.password !== this.confirmPassword) {
                return;
            }

            const data: RegisterData = {
                username: this.username,
                email: this.email,
                password: this.password,
            };

            this.loading = true;

            try {
                response = await this.$authService.register(data);
                this.step = 3;
            } catch (error: any) {
                console.error(error);
                this.emailErrorMessage = 'An error occurred during registration: ' + error.response.data || 'No response received.';
            } finally {
                this.loading = false;
            }

            return response;
        },
        async resendVerificationEmail() {
            this.isSendingVerificationEmail = true;

            try {
                await this.$authService.resendVerificationEmail(this.email);
            } catch (error: any) {
                console.error(error.response.data);
                this.resendVerificationErrorMessage = error.response.data;
            } finally {
                this.isSendingVerificationEmail = false;
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.register-form {
    padding: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50em;
    width: 100%;
    margin-bottom: 12.5em;
}

::v-deep.v-sheet:first-of-type,
::v-deep.v-stepper__header {
    background-color: rgba($color: #000000, $alpha: 0) !important;
    box-shadow: none !important;
}

::v-deep.v-sheet {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.card-border {
    border-radius: 0.3125em;
    padding: 0.3125em;
}

.verification-code-inputs {
    display: flex;
    justify-content: space-between;
    width: 18.75em;
}

::v-deep .valid,
::v-deep .valid div,
::v-deep .valid label {
    color: green !important;
    caret-color: green !important;
}

::v-deep .invalid {
    color: red !important;
    caret-color: red !important;
}

@media only screen and (max-width: 959px) {
    ::v-deep .v-stepper:not(.v-stepper--vertical) .v-stepper__label {
        display: flex !important;
        padding-left: 0.5em;
    }
}

.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(15%);
}
</style>