<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <div v-if="!passwordResetSuccess" class="reset-password-form">
                    <v-container>
                        <div class="mb-8 mx-auto d-flex align-center justify-center" style="min-height: 120px;">
                            <v-img src="img/savage-2.png" max-width="400px"></v-img>
                        </div>
                        <v-card class="mx-auto text-center card-border">
                            <h2 class="uppercase ma-4">Reset Password</h2>
                            <div class="px-4 mx-8 pb-8">
                                <div>
                                    <v-text-field v-model="password" label="New Password" required name="password"
                                        type="password" width="300px"></v-text-field>
                                </div>
                                <div>
                                    <v-text-field v-model="confirmPassword" label="Confirm Password" required
                                        name="confirmPassword" type="password" width="300px" :class="{
                                            'valid': confirmPasswordValidation === 'valid',
                                            'invalid': confirmPasswordValidation === 'invalid'
                                        }" :error-messages="confirmPasswordMessage"></v-text-field>
                                </div>
                                <div class="d-flex flex-column align-center justify-center">
                                    <v-btn v-if="!loading && confirmPasswordValidation !== 'invalid'" @click="resetPassword"
                                        class="primary my-4" width="100%" tile>
                                        Reset Password
                                    </v-btn>
                                    <v-btn v-else-if="confirmPasswordValidation === 'invalid'" :disabled="true"
                                        class="primary my-4" width="100%" tile>
                                        Reset Password
                                    </v-btn>
                                    <v-btn v-else :disabled="loading" @click="resetPassword" class="primary my-4"
                                        width="100%" tile>
                                        <v-progress-circular indeterminate size="24" />
                                    </v-btn>
                                </div>
                            </div>
                        </v-card>
                    </v-container>
                </div>
                <div v-else class="reset-password-form">
                    <v-container>
                        <div class="mb-8 mx-auto d-flex align-center justify-center" style="min-height: 120px;">
                            <v-img src="img/savage-2.png" max-width="400px"></v-img>
                        </div>
                        <v-card class="mx-auto text-center card-border">
                            <h2 class="uppercase ma-4">Password Reset Successful</h2>
                            <div class="px-4 mx-8 pb-8">
                                <div class="success-message">
                                    {{ passwordResetMessage }}
                                </div>
                                <v-btn @click="redirectToLogin" class="primary my-4" width="100%" tile>
                                    Sign in
                                </v-btn>
                            </div>
                        </v-card>
                    </v-container>
                </div>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>
  
<script lang="ts">
import { ResetPasswordData } from '@/services/auth-service';
import Vue from "vue";

export default Vue.extend({
    name: "reset-password",
    data() {
        return {
            password: "",
            confirmPassword: "",
            confirmPasswordValidation: "",
            confirmPasswordMessage: "",
            loading: false,
            passwordResetSuccess: false,
            passwordResetMessage: "",
        };
    },
    computed: {
        isConfirmPasswordValid() {
            return this.confirmPasswordValid();
        },
    },
    methods: {
        async resetPassword() {
            if (this.password !== this.confirmPassword) {
                alert("Passwords do not match.");
                return;
            }

            const token = this.$route.query.token;
            const email = this.$route.query.email;

            if (!token || !email) {
                alert("Invalid reset password URL.");
                return;
            }

            const data: ResetPasswordData = {
                email,
                password: this.password,
                token,
            };

            this.loading = true;

            try {
                await this.$authService.resetPassword(data);
                this.passwordResetSuccess = true;
                this.passwordResetMessage = "Your password has been reset.";

            } catch (error) {
                console.error(error);
                this.passwordResetSuccess = false;
                this.passwordResetMessage = "Password reset failed.";
            } finally {
                this.loading = false;
            }
        },
        confirmPasswordValid() {
            if (!this.password)
                return false;

            if (!this.confirmPassword)
                return false;

            if (this.password !== this.confirmPassword) {
                this.confirmPasswordValidation = "invalid";
                this.confirmPasswordMessage = "Passwords do not match";
                return false;
            }

            this.confirmPasswordValidation = "";
            this.confirmPasswordMessage = "";

            return true;
        },
        redirectToLogin() {
            this.$router.push("/login");
        },
    },
    watch: {
        confirmPassword() {
            this.confirmPasswordValid();
        },
        password() {
            this.confirmPasswordValid();
        },
    },
});
</script>
  
<style lang="scss" scoped>
.reset-password-form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
    margin-bottom: 200px;
}

::v-deep .valid,
::v-deep .valid div,
::v-deep .valid label {
    color: green !important;
    caret-color: green !important;
}

::v-deep .invalid {
    color: red !important;
    caret-color: red !important;
}

::v-deep.v-sheet:first-of-type {
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

::v-deep.v-sheet {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.card-border {
    border-radius: 0;
    padding: 5px;
}
</style>
  