<template>
    <div class="servers-table-container">
        <div class="servers-table-wrapper">
            <v-data-table dense :headers="headers" :loading="loading" :items="servers" class="elevation-12 servers-table"
                item-key="name">

                <template v-slot:top>
                    <v-toolbar flat class="stone-texture">
                        <v-toolbar-title class="uppercase">Server Status</v-toolbar-title>
                        <v-spacer></v-spacer>
                    </v-toolbar>
                </template>

                <template v-slot:body="{ items }">
                    <tr class="px-2" v-for="(server, index) in items" :key="index">
                        <td class="sticky-column-official">
                            <v-img v-if="server.official === true" src="img/official-logo4.png" max-width="40px"
                                class="mx-auto"></v-img>
                        </td>
                        <td class="sticky-column-name" style="white-space: nowrap;"><span>{{ server.name }}</span></td>
                        <td>{{ server.ip }}</td>
                        <td>{{ server.description }}</td>
                        <td>{{ server.status }}</td>
                        <td>{{ server.map }}</td>
                        <td>{{ server.nextMap }}</td>
                        <td>{{ server.numConnected }}</td>
                        <td>{{ server.maxConnected }}</td>
                    </tr>
                </template>
            </v-data-table>
        </div>
    </div>
</template>
  
<script>
import Vue from "vue";

export default Vue.extend({
    middleware: 'authGuard',
    data() {
        return {
            loading: true,
            headers: [
                { text: "Official", value: "official", fixed: true, width: "90px" },
                { text: "Name", value: "name", fixed: true, width: "200px" },
                { text: "IP", value: "ip" },
                { text: "Description", value: "description", width: "400px" },
                { text: "Status", value: "status" },
                { text: "Current Map", value: "map" },
                { text: "Next Map", value: "nextMap" },
                { text: "Connected Players", value: "numConnected" },
                { text: "Max Players", value: "maxConnected" },
            ],
            servers: [],
            sortBy: null,
            sortDesc: false,
        };
    },
    async created() {
        try {
            this.loading = true;

            const response = await this.$axios.$get("/api/server");
            this.servers = response;
        } catch (error) {
            this.loading = false;
            console.error(error);
        }
        finally {
            this.loading = false;
        }
    },
    mounted() {
        const tableWrapper = document.querySelector(".servers-table-wrapper .v-data-table__wrapper");
        tableWrapper.addEventListener("wheel", this.handleTableScroll, { passive: false });
    },
    beforeDestroy() {
        const tableWrapper = document.querySelector(".servers-table-wrapper .v-data-table__wrapper");
        tableWrapper.removeEventListener("wheel", this.handleTableScroll);
    },
    methods: {
        handleTableScroll(event) {
            const tableWrapper = document.querySelector(".servers-table-wrapper .v-data-table__wrapper");

            if (this.isHorizontalScrollbarVisible(tableWrapper)) {
                event.preventDefault();
            }

            tableWrapper.scrollLeft += event.deltaY;
        },
        isHorizontalScrollbarVisible(element) {
            return element.scrollWidth > element.clientWidth;
        },
        sortColumn(column) {
            if (column === this.sortBy) {
                this.sortDesc = !this.sortDesc;
            } else {
                this.sortBy = column;
                this.sortDesc = false;
            }
        },
        isSortedBy(column) {
            return column === this.sortBy;
        },
        sortIconClass() {
            return this.sortDesc ? "mdi-chevron-up" : "mdi-chevron-up";
        }
    },
});
</script>
  
<style lang="scss" scoped>
.servers-table-container {
    /* max-width: 1000px; */
    overflow-x: auto;
    margin: 25px;
    margin-bottom: 200px;
}

.servers-table {
    table-layout: fixed;
    background-color: #1E1E1E;
    color: #fff;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
}

.servers-table th,
.servers-table td {
    padding: 0 16px;
}

.servers-table tbody tr {
    background-color: #1E1E1E;
    color: #fff;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
}

.servers-table th.sortable {
    cursor: pointer;
}

.servers-table th.sortable span {
    display: inline-block;
    vertical-align: middle;
}

.servers-table th.sortable v-icon {
    margin-left: 4px;
    vertical-align: middle;
}

::v-deep .v-data-table-header th {
    white-space: nowrap;
}

@media (max-width: 700px) {
    .servers-table-container {
        width: 100%;
        margin: auto;
    }
}
</style>
  