<template>
    <v-theme-provider dark>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
                <div class="verify-container">
                    <div class="mb-8 mx-auto d-flex align-center justify-center" style="min-height: 120px;">
                        <v-img src="img/savage-2.png" max-width="400px"></v-img>
                    </div>
                    <v-container>
                        <v-card class="mx-auto text-center">
                            <div class="py-8">
                                <h2 class="uppercase subheading mb-6 white--text">Account Verification</h2>
                                <h2 class="headline mb-6 white--text"><v-progress-circular v-show="loading" class="mr-2"
                                        indeterminate size="24" />{{ message }}</h2>

                                <router-link to="/login" class="mx-2">
                                    <v-btn v-if="!loading" class="primary my-4" width="50%" tile>Sign In</v-btn>
                                </router-link>
                            </div>
                        </v-card>
                    </v-container>
                </div>
            </v-layout>
        </v-container>
    </v-theme-provider>
</template>

<script>
import Vue from "vue";
import axios from "axios";
import { delay } from "lodash";

export default Vue.extend({
    data() {
        return {
            message: "Verifying your email...",
            loading: false,
        }
    },
    async created() {
        const token = this.$route.query.token;
        this.loading = true;

        if (!token) {
            this.$router.push('/login');
            return;
        }

        delay(async () => {
            try {
                const encodedToken = encodeURIComponent(token);
                await axios.get(`/api/authentication/confirm-email?token=${encodedToken}`);
                this.message = "Account creation complete!";
                this.loading = false;

            } catch (error) {
                this.$router.push('/')
                this.loading = false;
            } finally {
                this.loading = false;
            }
        }, 5000);
    }
});
</script>

<style lang="scss" scoped>
.verify-container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin-bottom: 200px;
}

// ::v-deep.v-sheet:first-of-type {
//     background-color: rgba($color: #000000, $alpha: 0) !important;
// }
::v-deep.v-sheet {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

.card-border {
    border-radius: 0;
    padding: 5px;
}
</style>