<template>
    <v-container>
        <v-layout :column="direction === 'vertical'" wrap align-start>
            <div :class="direction === 'vertical' ? ['vertical', 'd-flex'] : 'horizontal'" v-for="(link, index) in links"
                :key="index">
                <v-btn v-if="!link.requireAuthentication || $store.getters.isLoggedIn" text :to="link.to"
                    :style="getWidth">{{ link.name }}</v-btn>
            </div>
        </v-layout>
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "links",
    props: {
        direction: {
            type: String,
            default: "horizontal"
        }
    },
    data() {
        return {
            links: [
                { name: "My Account", to: "/account#profile", requireAuthentication: true },
                { name: "News", to: "/news" },
                { name: "Stats", to: "/stats" },
                // { name: "Leaderboard", to: "/leaderboard" },
                { name: "Matches", to: "/matches" },
                { name: "Clans", to: "/clans" },
                { name: "Forums", to: "/forum" },
                { name: "Mods", to: "/mods" },
                { name: "Support", to: "/support" },
                { name: "Servers", to: "/servers", requireAuthentication: true }
            ]
        };
    },
    computed: {
        getWidth() {
            return this.direction === "vertical" ? { width: "100%" } : {};
        }
    },
});
</script>

<style scoped>
.vertical,
.vertical>.v-btn {
    width: 100%;
    justify-content: center;
}

.horizontal {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
</style>