<template>
    <router-link to="/" class="mx-3">
        <!-- <v-img src="img/logo.png" max-width="70px" class="pointer"></v-img> -->
        <v-img src="../img/official-logo4.png" max-width="100px" class="pointer"></v-img>
    </router-link>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "logo"
});
</script>

<style scoped></style>

