<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    name: "s2-btn"
})
</script>

<template>
    <v-btn v-bind="$attrs" tile height="50px" width="250px" class="mt-8 stone-texture gradient-button-red" @click="$emit('click')">
        <slot/>
    </v-btn>
</template>

<style scoped lang="scss">

</style>