
<template>
    <div>
        <div v-bind:class="containerClass">
            <div v-bind:class="smokeClass" v-for="i in 90" :key="i"></div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                <defs>
                    <filter id="smoke-blur">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="60" />
                    </filter>
                </defs>
            </svg>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "smoke-effect",
    props: {
        classType: {
            type: String,
            default: ''
        }
    },
    computed: {
        containerClass() {
            let classes = {};
            switch (this.classType) {
                case 'human':
                    classes = { 'smoke-container': true, 'orientation-left': true };
                    break;
                case 'beast':
                    classes = { 'smoke-container': true, 'orientation-right': true };
                    break;

                default:
                    classes = { 'smoke-container': true };
                    break;
            }
            return classes;
        },
        smokeClass() {
            let classes = {};
            switch (this.classType) {
                case 'human':
                    classes = { 'smoke': true, 'smoke-human': true };
                    break;
                case 'beast':
                    classes = { 'smoke': true, 'smoke-beast': true };
                    break;

                default:
                    classes = { 'smoke': true };
                    break;
            }
            return classes;
        }
    }
});
</script>

<style lang="scss" scoped>
.smoke-container {
    width: 100%;
    height: 99vw;
    overflow: visible;
    position: absolute;
    // border:4px solid white;
    // left:0;
    right: 0;
    margin: auto;
    top: 50%;
    bottom: 100%;
    transform: rotate(90deg);

    .smoke {
        // border:2px solid rgba(255,255,255,.1);
        border-radius: 400px;
        position: absolute;
        margin: auto;

        @for $i from 1 through 80 {
            &:nth-of-type(#{$i}) {
                box-shadow: 3px 0px rgba(255, 255, 255, - ($i/40)), 6px -5px rgba(10, 0, 0, - ($i/40));
                width: ($i * 6) + 0px;
                height: ($i * 1) + 0px;
                right: ($i * 20) + 0px;
                filter: url(#smoke-blur);
                transform-origin: ($i * 6) + 0px ($i * 4) + 0px;
                animation: spin 5s ($i/10) + 2s linear infinite;
            }
        }
    }

    z-index: -1;
}

.smoke-container {
    .smoke.smoke-beast {
        @for $i from 1 through 60 {
            &:nth-of-type(#{$i}) {
                background: rgba(180, 75, 250 + ($i*5), 0.55 - ($i/120));
                // 180, 105, 250
            }
        }
    }
}

.smoke-container {
    .smoke.smoke-human {
        @for $i from 1 through 60 {
            &:nth-of-type(#{$i}) {
                background: rgba(241 + ($i*5), 112, 112, 0.55 - ($i/120));
                // 241, 112, 112
            }
        }
    }
}

.orientation-left {
    transform: rotate(269deg) scaleX(-1);

    @media (max-width: 700px) {
        transform: rotate(266deg) scaleX(-1);
    }
}

.orientation-right {
    transform: rotate(91deg);

    @media (max-width: 700px) {
        transform: rotate(94deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(25deg)
    }
}
</style>

