<template>
    <div class="impact-chart">
        <v-card class="chart-container">
            <v-row align="center" class="ma-0">
                <v-col class="pa-0">
                    <v-card-title class="headline">
                        <b class="nowrap">{{ chartTitle }}</b>
                    </v-card-title>
                </v-col>
                <v-col class="pa-0">
                    <v-select class="mx-4" v-model="selectedPlayer" :items="playerNames"
                        @change="updateChartData(chartData)"></v-select>
                </v-col>
            </v-row>
            <div class="apex-chart">
                <client-only>
                    <ApexCharts v-if="chartType === 'radar'" :options="chartOptions" :series="chartSeries" type="radar"
                        style="height: 100% !important;">
                    </ApexCharts>
                </client-only>
            </div>
            <v-row class="ma-0">
                <v-col class="text-right">
                    <v-checkbox v-model="showAllPlayers" label="Show all players"
                        @change="selectedPlayer = 'All players'; updateChartData(chartData);"></v-checkbox>
                </v-col>
            </v-row>
        </v-card>
    </div>
</template>

<script>
// This chart takes an array of data fields and combines them into a radar chart display
export default {
    name: 'impact-chart',
    props: {
        chartTitle: {
            type: String,
            required: true,
        },
        chartType: {
            type: String,
            required: true,
        },
        chartData: {
            type: Array,
            required: true,
        },
        chartFields: {
            type: Array,
            required: true
        },
        chartLabels: {
            type: Array,
            required: true
        }
    },
    data() {
        return {
            selectedPlayer: 'All players',
            showAllPlayers: false,
            selectedSeries: [],
            chartOptions: {
                chart: {
                    id: 'impact-chart',
                    toolbar: {
                        show: false
                    },
                    animations: {
                        enabled: false,
                        easing: 'easeinout',
                        speed: 2000,
                    },
                    parentHeightOffset: 0,
                    events: {
                        legendClick(chartContext, seriesIndex, config) {
                            const { series } = config.config;
                            const selectedSeriesItemName = series[seriesIndex].name;

                            // Get all hidden items
                            const hiddenIndexes = chartContext.w.globals.collapsedSeries.map(x => x.index);

                            // Get all visible items
                            // Get the visible items based on the indexes in collapsedSeries
                            let visibleItems = series
                                .map((_, index) => index)
                                .filter(index => !hiddenIndexes.includes(index));

                            if (visibleItems.length === 0)
                                visibleItems = Object.keys(series);

                            const isClickedItemVisible = visibleItems.includes(seriesIndex);

                            // Reset all series to be visible
                            chartContext.resetSeries();

                            // Hide all previously hidden items, unless it was the item we clicked
                            for (const i in Object.keys(series)) {
                                if (Object.hasOwnProperty.call(Object.keys(series), i)) {
                                    const index = +Object.keys(series)[i];
                                    const itemName = series[index].name;

                                    if (visibleItems.length == series.length ||
                                        (visibleItems.length == 1 && visibleItems.includes(seriesIndex))) {
                                        if ((visibleItems.length == 1 && visibleItems.includes(seriesIndex)) && isClickedItemVisible)
                                            continue;

                                        // All items were visible, hide all but the clicked one
                                        if (itemName != selectedSeriesItemName && isClickedItemVisible) {
                                            chartContext.hideSeries(itemName);
                                        }
                                        else {
                                            continue;
                                        }
                                    } else if (isClickedItemVisible) {
                                        // Some items were visible, including the clicked one, hide hidden items and clicked
                                        if (index == seriesIndex || hiddenIndexes.includes(index)) {
                                            chartContext.hideSeries(itemName);
                                        }
                                    } else {
                                        // Some items were visible, excluding the clicked one, hide all but the clicked one
                                        if (index != seriesIndex && hiddenIndexes.includes(index)) {
                                            chartContext.hideSeries(itemName);
                                        }
                                    }
                                }
                            }
                        },
                    }
                },
                xaxis: {
                    categories: this.chartLabels,
                },
                yaxis: {
                    show: false,
                    labels: {
                        show: false
                    },
                    tickAmount: 0,
                },
                fill: {
                    opacity: 0.2,
                },
                markers: {
                    show: false,
                    size: 0,
                },
                legend: {
                    show: true,
                    position: 'bottom',
                    horizontalAlign: 'center',
                    floating: true,
                    showForSingleSeries: true,
                    showForNullSeries: true,
                    showForZeroSeries: true,
                    tooltipHoverFormatter: function (seriesName, opts) {
                        return seriesName + ' - <strong>' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + '</strong>'
                    },
                    labels: {
                        useSeriesColors: true
                    },
                    markers: {
                        radius: 0
                    },
                    onItemClick: {
                        toggleDataSeries: false,
                    },
                    onClick: null
                },
                theme: {
                    mode: 'light',
                    palette: 'palette2',
                },
                stroke: {
                    show: true,
                    curve: 'straight',
                    lineCap: 'butt',
                    colors: undefined,
                    width: 2,
                    dashArray: 0,
                },
                noData: {
                    text: 'No data',
                    style: {
                        color: '#FFF',
                        fontSize: '18px'
                    }
                },
            },
            chartSeries: this.prepareChartData(this.chartData).filter(p => this.selectedPlayer === "All players" || this.selectedPlayer === p.name),
        };
    },
    watch: {
        chartData: {
            handler: 'updateChartData',
            immediate: true,
        },
    },
    methods: {
        updateChartData(newChartData) {
            const chartSeries = this.prepareChartData(newChartData)
                .filter(p => this.selectedPlayer === "All players" || this.selectedPlayer === p.name);
            this.chartSeries = this.showAllPlayers ? chartSeries : chartSeries.slice(0, 5);
        },
        prepareChartData(players) {
            const stats = this.chartFields;

            // Find the min and max for each stat
            const statRanges = stats.reduce((acc, stat) => {
                const values = players.map(player => player[stat]);
                acc[stat] = { min: Math.min(...values), max: Math.max(...values) };
                return acc;
            }, {});

            // Normalize the data based on min and max values
            const normalizedData = players.map(player => ({
                name: player.username,
                data: stats.map(stat => {
                    const value = player[stat];
                    const range = statRanges[stat];
                    const statValue = (value / range.max).toFixed(2)
                    return isNaN(statValue) ? 0 : statValue;
                }),
            }));

            // Calculate overall impact score for each player
            normalizedData.forEach(player => {
                player.overallImpact = player.data.reduce((sum, value) => sum + parseFloat(value), 0);
            });

            // Sort players based on overall impact score
            normalizedData.sort((a, b) => b.overallImpact - a.overallImpact);

            return normalizedData;
        }
    },
    computed: {
        playerNames() {
            return ['All players'].concat(this.prepareChartData(this.chartData).map(p => p.name))
        }
    }
};
</script>

<style lang="scss" scoped>
.chart-container {
    position: relative;
    display: block;
    // margin: auto;
    height: 28.125em;
    // margin-top: 1.5625em;
    // margin-left: 0.78125em;
    // margin-right: 0.78125em;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 0.125em;
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;

    ::v-deep .apexcharts-datalabel {
        font-size: 0.6875em !important;
        color: #FFF !important;
        fill: #FFF !important;
    }

    ::v-deep .apexcharts-inner.apexcharts-graphical {
        transform-origin: center center !important;
        transform: scale(1.2) translate(5%, 10%) !important;
        margin: auto;
    }

    ::v-deep .apexcharts-text {
        transform-origin: center center !important;
        transform: scale(1) translate(-0.75em, -1.25em) !important;
        margin: auto;
    }

    ::v-deep .apexcharts-legend {
        transform-origin: center top !important;
        transform: translate(-0.75em, 0.00em) !important;
        max-width: 80%;
        margin: auto;
        position: relative;
        margin-top: 20px !important;
    }
}

.impact-chart {
    width: 450px;
    max-width: 100vw;
}

.apex-chart {
    height: 18.75em;
}
</style>
