<template>
    <div class="stats-chart">
        <v-card class="chart-container">
            <v-row align="center" class="ma-0">
                <v-col class="pa-0 d-flex">
                    <v-card-title class="headline">
                        <b>{{ chartTitle }}</b>
                    </v-card-title>
                </v-col>
            </v-row>
            <div class="apex-chart">
                <client-only>
                    <ApexCharts v-if="chartType === chartType" :options="chartOptions" :series="chartSeries"
                        :type="chartType" style="height: 100% !important;">
                    </ApexCharts>
                </client-only>
            </div>
            <!-- <v-row class="ma-0"> -->
            <!-- <v-col class="text-right">
                    <v-checkbox v-model="showAllPlayers" label="Show all players"
                        @change="selectedPlayer = 'All players'; updateChartData(chartData);"></v-checkbox>
                </v-col> -->
            <!-- </v-row> -->
        </v-card>
    </div>
</template>

<script>
// This chart takes a single data field and displays each player's contribution
export default {
    name: 'stats-chart',
    props: {
        chartTitle: {
            type: String,
            required: true,
        },
        chartType: {
            type: String,
            required: true,
        },
        chartData: {
            type: Array,
            required: true,
        },
        chartField: {
            type: String,
            required: true,
        }
    },
    data() {
        return {
            selectedPlayer: 'All players',
            showAllPlayers: false,
            selectedSeries: [],
            chartOptions: {
                labels: this.prepareChartLabels(this.chartData),
                chart: {
                    selection: {
                        enabled: true,
                        type: 'xy',
                        fill: {
                            color: '#24292e',
                            opacity: 1
                        },
                        stroke: {
                            width: 1,
                            dashArray: 3,
                            color: '#24292e',
                            opacity: 1
                        },
                    },
                    id: 'stats-chart',
                    toolbar: {
                        show: false
                    },
                    animations: {
                        enabled: false,
                        easing: 'easeinout',
                        speed: 2000,
                    },
                    parentHeightOffset: 0,
                    events: {
                        // legendClick(chartContext, seriesIndex, config) {
                        //     const series = config.config.labels;
                        //     const selectedSeriesItemName = series[seriesIndex];

                        //     // Get all hidden items
                        //     const hiddenIndexes = chartContext.w.globals.collapsedSeries.map(x => x.index);

                        //     // Get all visible items
                        //     // Get the visible items based on the indexes in collapsedSeries
                        //     let visibleItems = series
                        //         .map((_, index) => index)
                        //         .filter(index => !hiddenIndexes.includes(index));

                        //     if (visibleItems.length === 0)
                        //         visibleItems = Object.keys(series);

                        //     const isClickedItemVisible = visibleItems.includes(seriesIndex);

                        //     // Reset all series to be visible
                        //     chartContext.resetSeries();

                        //     // Hide all previously hidden items, unless it was the item we clicked
                        //     for (const i in Object.keys(series)) {
                        //         if (Object.hasOwnProperty.call(Object.keys(series), i)) {
                        //             const index = +Object.keys(series)[i];
                        //             const itemName = series[index];

                        //             if (visibleItems.length == series.length ||
                        //                 (visibleItems.length == 1 && visibleItems.includes(seriesIndex))) {
                        //                 if ((visibleItems.length == 1 && visibleItems.includes(seriesIndex)) && isClickedItemVisible)
                        //                     continue;

                        //                 // All items were visible, hide all but the clicked one
                        //                 if (itemName != selectedSeriesItemName && isClickedItemVisible) {
                        //                     chartContext.hideSeries(itemName);
                        //                 }
                        //                 else {
                        //                     continue;
                        //                 }
                        //             } else if (isClickedItemVisible) {
                        //                 // Some items were visible, including the clicked one, hide hidden items and clicked
                        //                 if (index == seriesIndex || hiddenIndexes.includes(index)) {
                        //                     chartContext.hideSeries(itemName);
                        //                 }
                        //             } else {
                        //                 // Some items were visible, excluding the clicked one, hide all but the clicked one
                        //                 if (index != seriesIndex && hiddenIndexes.includes(index)) {
                        //                     chartContext.hideSeries(itemName);
                        //                 }
                        //             }
                        //         }
                        //     }
                        // },
                    }
                },
                xaxis: {
                    categories: [this.chartLabel],
                },
                yaxis: {
                    show: false,
                    labels: {
                        show: false
                    },
                    tickAmount: 0,
                },
                fill: {
                    opacity: 0.8,
                },
                markers: {
                    show: false,
                    size: 0,
                },
                legend: {
                    show: true,
                    position: 'bottom',
                    horizontalAlign: 'center',
                    floating: true,
                    showForSingleSeries: true,
                    showForNullSeries: true,
                    showForZeroSeries: true,
                    tooltipHoverFormatter: function (seriesName) {
                        return seriesName;
                    },
                    labels: {
                        useSeriesColors: true
                    },
                    markers: {
                        radius: 0
                    },
                    onItemClick: {
                        toggleDataSeries: false,
                    },
                    onClick: null
                },
                theme: {
                    mode: 'light',
                    palette: 'palette2',
                },
                stroke: {
                    show: true,
                    curve: 'straight',
                    lineCap: 'butt',
                    colors: undefined,
                    width: 2,
                    dashArray: 0,
                },
                noData: {
                    text: 'No data',
                    style: {
                        color: '#FFF',
                        fontSize: '18px'
                    }
                },
            },
            chartSeries: this.prepareChartData(this.chartData),
        };
    },
    watch: {
        chartData: {
            handler: 'updateChartData',
            immediate: true,
        },
    },
    methods: {
        updateChartData(newChartData) {
            const chartSeries = this.prepareChartData(newChartData);
            this.chartSeries = this.showAllPlayers ? chartSeries : chartSeries;

            const labels = this.prepareChartLabels(newChartData)
                .filter(p => this.selectedPlayer === "All players" || this.selectedPlayer === p);
            this.chartOptions.labels = this.showAllPlayers ? labels : labels;
        },
        prepareChartData(players) {
            const stat = this.chartField;

            const normalizedData = players.map(player => {
                const statValue = player[stat];
                return isNaN(statValue) ? 0 : statValue;
            });

            return normalizedData;
        },
        prepareChartLabels(players) {
            const labels = players.map(player => (
                player.username
            ));

            return labels;
        }
    },
    computed: {
        playerNames() {
            return ['All players'].concat(this.prepareChartLabels(this.chartData).map(p => p))
        }
    }
};
</script>

<style lang="scss" scoped>
.chart-container {
    position: relative;
    display: block;
    // margin: auto;
    height: 28.125em;
    // margin-top: 1.5625em;
    // margin-left: 1.5625em;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 0.125em;
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;

    ::v-deep .apexcharts-datalabel {
        font-size: 0.6875em !important;
        color: #FFF !important;
        fill: #FFF !important;
    }

    ::v-deep .apexcharts-inner.apexcharts-graphical {
        transform-origin: center center !important;
        transform: scale(0.6) translate(2em, -4.5em) !important;
    }

    ::v-deep .apexcharts-text {
        transform-origin: center center !important;
        transform: scale(1) translate(-1em, -2.25em) !important;
    }

    // ::v-deep .apexcharts-legend {
    //     transform: translate(-0.75em, -3.00em) !important;
    // }
}

.stats-chart {
    width: 450px;
    max-width: 100vw;
}

.apex-chart {
    height: 18.75em;
}
</style>
