<template>
    <div class="leaderboard-wrapper">
        <v-data-table class="elevation-6 leaderboard-table" dark :headers="headers" :items="players" :options.sync="options"
            :server-items-length="totalPlayers" :loading="loading" :single-expand="true" :expanded.sync="expanded"
            item-key="accountId" :footer-props="{ 'items-per-page-options': pageOptions }" dense
            @click:row="(item, slot) => { expand(slot); }">
            <!-- <template v-slot:header.text="{ header }">
                <div class="header-container">
                    <span class="header-text">{{ header.text }}</span>
                    <i v-if="header.sortable" :class="`mdi mdi-chevron-${options.sortDesc[0] ? 'down' : 'up'}`"></i>
                </div>
            </template> -->

            <template v-slot:top>
                <v-toolbar flat class="stone-texture">
                    <v-toolbar-title class="uppercase">Leaderboard</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <user-search @user-selected="handleUserSelected"></user-search>
                </v-toolbar>
            </template>

            <template v-slot:item.username="{ item }">
                <router-link :to="`/stats/${item.username}`">
                    <b>{{ item.username }}</b>
                </router-link>
            </template>

            <template v-slot:item.wins="{ item }">
                {{ item.wins.toLocaleString() }}-{{ item.dConns.toLocaleString() }}-{{ item.losses.toLocaleString() }}
            </template>
            <template v-slot:item.secs="{ item }">
                {{ formatTime(item.secs) }}
            </template>

            <!-- Columns -->
            <!-- <template v-for="col in statColumns" v-slot:item[`${col}`]="{ item }">
                {{ item[col] }}
            </template> -->

            <!-- Expansion Panel -->
            <!-- <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    More info about {{ item.id }}
                </td>
            </template> -->
        </v-data-table>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import UserSearch from "@/components/users/user-search.vue";

export default Vue.extend({
    name: "leaderboard",
    components: {
        UserSearch
    },
    data() {
        return {
            expanded: [],
            totalPlayers: 0,
            players: [],
            loading: true,
            selectedUsername: '',
            options: {
                page: 1,
                itemsPerPage: this.pageSize,
                sortBy: ["sf"],
                sortDesc: [true],
            },
            headers: [
                { text: "Rank", value: "rank", wrap: false, sortable: false },
                { text: "Player", value: "username", wrap: false },
                { text: "SF", value: "sf", wrap: false },
                { text: "KD", value: "kd", wrap: false },
                { text: "Win%", value: "winRate", wrap: false },
                { text: "Record", value: "wins", wrap: false },
                { text: "Exp", value: "exp", wrap: false },
                { text: "Gold", value: "gold", wrap: false },
                { text: "Kills", value: "kills", wrap: false },
                { text: "Player Dmg", value: "pdmg", wrap: false },
                { text: "Building Dmg", value: "bdmg", wrap: false },
                { text: "Razed", value: "razed", wrap: false },
                { text: "Healed", value: "hpHealed", wrap: false },
                { text: "Repaired", value: "hpRepaired", wrap: false },
                { text: "Resurrections", value: "res", wrap: false },
                { text: "NPC", value: "npc", wrap: false },
                { text: "Souls", value: "souls", wrap: false },
                { text: "Assists", value: "assists", wrap: false },
                { text: "Deaths", value: "deaths", wrap: false },

                // { text: "Ties", value: "ties", wrap: false },
                // { text: "Losses", value: "losses", wrap: false },

                // { text: "Disconnects", value: "dConns", wrap: false },
                { text: "Time Played", value: "secs", wrap: false },
                // { text: '', value: 'data-table-expand', sortable: false },
            ]
        };
    },
    props: {
        pageSize: {
            type: Number,
            default: () => 10,
        },
        pageOptions: {
            type: Array,
            default: () => [10, 25, 50, 100],
        },
    },
    watch: {
        options: {
            handler() {
                this.getPlayers();
            },
            deep: true,
        },
    },
    methods: {
        handleTableScroll(event) {
            const tableWrapper = document.querySelector(`.leaderboard-table .v-data-table__wrapper`);

            if (this.isHorizontalScrollbarVisible(tableWrapper)) {
                event.preventDefault();
            }

            tableWrapper.scrollLeft += event.deltaY;
        },
        isHorizontalScrollbarVisible(element) {
            return element.scrollWidth > element.clientWidth;
        },
        async getPlayers(filter?: string) {
            this.loading = true;

            try {
                const params = {
                    page: this.options.page,
                    pageSize: this.options.itemsPerPage,
                    sortBy: this.options.sortBy[0],
                    isAscending: !this.options.sortDesc[0],
                };

                if (filter)
                    params['filter'] = filter;

                const response = await this.$axios.get("/api/stats", {
                    params
                });

                const data = response.data;
                this.players = data.players;

                this.calculateRank();

                this.totalPlayers = data.totalCount;
                this.loading = false;
            } catch (error) {
                // Handle the error or return an error response
                console.error("Error fetching data:", error);
                this.loading = false;
            }
        },
        calculateRank() {
            // Sort the players array based on the current sort
            const sortBy = this.options.sortBy[0];
            const isAscending = !this.options.sortDesc[0];

            this.players.sort((a, b) => {
                if (a[sortBy] === b[sortBy]) return 0;
                return (a[sortBy] < b[sortBy]) ? (isAscending ? -1 : 1) : (isAscending ? 1 : -1);
            });

            // Calculate rank based on the sorted order
            const startIndex = (this.options.itemsPerPage * (this.options.page - 1));
            const totalItems = this.totalPlayers;
            for (let i = 0; i < this.players.length; i++) {
                const rank = isAscending ? (totalItems - i) - startIndex : i + startIndex + 1;
                this.players[i].rank = rank;
            }
        },
        expand(slot) {
            if (this.expanded[0] && this.expanded[0].id != slot.item.id) {
                slot.expand(true);
                slot.expand(false);
            }

            /* Skip lifecycle hook */
            setTimeout(() => slot.expand(!slot.isExpanded));
        },
        formatTime(secs: number) {
            const hours = Math.floor(secs / 3600);
            const minutes = Math.floor((secs % 3600) / 60);
            const remainingSeconds = secs % 60;

            return `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(
                remainingSeconds
            ).padStart(2, '0')}`;
        },
        handleUserSelected(selectedUsername: string) {
            this.selectedUsername = selectedUsername;
            this.getPlayers(selectedUsername);
        },
    },
    mounted() {
        const tableWrapper = document.querySelector(`.leaderboard-table .v-data-table__wrapper`);

        if (!tableWrapper)
            return;

        tableWrapper.addEventListener("wheel", this.handleTableScroll, { passive: false });
    },
    beforeDestroy() {
        const tableWrapper = document.querySelector(`.leaderboard-table .v-data-table__wrapper`);

        if (!tableWrapper)
            return;

        tableWrapper.removeEventListener("wheel", this.handleTableScroll);
    },
});
</script>

<style lang="scss" scoped>
.leaderboard-table {
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    // background: linear-gradient(145deg, rgba(0, 0, 0, 0.7) 20%, rgba(94, 80, 44, 0.418) 40%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leaderboard-wrapper {
    margin-left: 100px;
    margin-right: 100px;

    @media (max-width: 700px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.stats-breakdown-table {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
}

::v-deep .leaderboard-table th,
.header-container {
    white-space: nowrap;
}

.header-text {
    margin-right: 4px;
}
</style>
