<template>
    <div class="map-container">
        <img :src="getImageSrc" :alt="map" />
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    props: {
        map: {
            type: String,
            required: true,
        },
    },
    computed: {
        getImageSrc() {
            return `../img/maps/${this.map}.jpg`;
        },
    },
});
</script>

<style lang="scss" scoped>
.map-container {
    border: 1px inset #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.map-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
</style>
