<template>
    <div class="match-details">
        <span class="detail-item">
            <strong>Map:</strong> {{ match.map }}
        </span>
        <span class="detail-item">
            <strong>Winner:</strong> {{ match.winner === 1 ? "Humans" : "Beasts" }}
        </span>
        <span class="detail-item">
            <strong>Duration:</strong> {{ formatDuration(match.duration) }}
        </span>
        <span class="detail-item">
            <strong>Date:</strong> {{ formatDate(match.createdAt) }}
        </span>
        <v-btn :href="`https://savage2.net/api/replays/${match.id}`" target="_blank"
            style="height: 26px; font-size: 0.6em; border-radius: 0;" class="primary" raised><v-icon
                small>mdi-download</v-icon>Download Replay</v-btn>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import moment from "moment";

export default Vue.extend({
    name: "match-details",
    props: {
        match: {
            type: Object,
            required: true,
        },
    },
    methods: {
        formatDate(value: string) {
            return moment(value).format("HH:mm DD/MM/YY");
        },
        formatDuration(value: string) {
            const durationParts = value.split(":");
            const hours = parseInt(durationParts[0]);
            const minutes = parseInt(durationParts[1]);
            const seconds = parseInt(durationParts[2]);

            // Format the duration based on whether there are non-zero hours
            let formattedDuration = "";
            if (hours > 0)
                formattedDuration += `${hours}:`;
            if (hours > 0 || minutes > 0)
                formattedDuration += `${minutes.toString().padStart(2, "0")}:`;

            formattedDuration += `${seconds.toString().padStart(2, "0")}`;

            return formattedDuration;
        }
    }
});
</script>

<style lang="scss" scoped>
.match-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detail-item {
    font-size: 0.9em;
}
</style>
