<template>
    <v-col class="pa-2">
        <div :class="['match-stats-commanders-table-wrapper', `match-stats-commanders-table-wrapper-${race}`]">
            <v-data-table class="elevation-6 match-stats-table" dark :headers="commanderHeaders" :items="commander"
                :options.sync="options" :loading="loading" :single-expand="true" :expanded.sync="expanded"
                item-key="accountId" hide-default-footer @click:row="(item, slot) => { expand(slot); }"
                no-data-text="No commander">
                <template v-slot:top>
                    <v-toolbar flat class="stone-texture toolbar-container" height="32px">
                        <v-toolbar-title v-if="race === 2" class="uppercase">Commander: {{ commander[0]?.username
                        }}</v-toolbar-title>
                        <v-spacer v-if="race === 2"></v-spacer>
                        <v-avatar v-if="race === 1" size="28">
                            <img src="~/static/img/flag_Human.png" alt="Humans" />
                        </v-avatar>
                        <v-toolbar-title class="uppercase">{{ race === 1 ? "Humans" : "Beasts" }}</v-toolbar-title>
                        <v-avatar v-if="race === 2" size="28">
                            <img src="~/static/img/flag_Beast.png" alt="Beasts" />
                        </v-avatar>
                        <v-spacer v-if="race === 1"></v-spacer>
                        <v-toolbar-title v-if="race === 1" class="uppercase">Commander: {{ commander[0]?.username
                        }}</v-toolbar-title>
                    </v-toolbar>
                </template>

                <template v-slot:item.username="{ item }">
                    <v-avatar size="30">
                        <img src="~/static/img/icons/stat-icons/player_experience.jpg" />
                    </v-avatar>
                    <router-link :to="`/stats/${item.username}`">
                        <b>{{ item.username }}</b>
                    </router-link>
                </template>
            </v-data-table>
        </div>
        <div :class="['match-stats-table-wrapper', `match-stats-table-wrapper-${race}`]">
            <v-data-table class="elevation-6 match-stats-table" dark :headers="headers" :items="players"
                :options.sync="options" :server-items-length="totalPlayers" :loading="loading" :single-expand="true"
                :expanded.sync="expanded" item-key="accountId" hide-default-footer :style="{
                    paddingBottom: additionalPadding
                }" @click:row="(item, slot) => { expand(slot); }">
                <template v-slot:item.username="{ item }">
                    <router-link :to="`/stats/${item.username}`">
                        <b>{{ item.username }}</b>
                    </router-link>
                </template>
                <template v-slot:item.kd="{ item }">
                    {{ (item.kills / item.deaths).toFixed(2) || 'N/A' }}
                </template>
                <template v-slot:item.gamesf="{ item }">
                    {{ calculateGameSF(item.exp, item.secs) }}
                </template>
                <template v-slot:item.secs="{ item }">
                    {{ convertSecondsToTime(item.secs) }}
                </template>
            </v-data-table>
        </div>
        <div
            :style="race === 1 ? 'display: flex; flex-direction: row-reverse; align-self: flex-end;' : 'display: flex; flex-direction: row; align-self: flex-end;'">
            <div
                :style="race === 1 ? 'display: flex; flex-direction: column; align-items: flex-end;' : 'display: flex; flex-direction: column;'">
                <span>Average SF: {{ team?.avgSf }}</span>
                <span>Total Experience: {{ getTotalExp() }}</span>
            </div>
            <v-spacer></v-spacer>
            <div>
                <span>Players: {{ totalPlayers }}</span>
            </div>
        </div>
    </v-col>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "match-stats",
    data() {
        const columnWidthSm = "50px";
        const columnWidthMd = "100px";
        return {
            match: null,
            expanded: [],
            totalPlayers: 0,
            players: [],
            commander: [],
            team: null,
            loading: true,
            options: {
            },
            headers: [
                { text: "Player", value: "username", width: columnWidthMd, wrap: false },
                { text: "SF", value: "sf", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Game SF", value: "gamesf", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Kills", value: "kills", width: columnWidthSm, wrap: false, sortable: false },
                { text: "KD", value: "kd", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Building Damage", value: "bdmg", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Player Damage", value: "pdmg", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Experience", value: "exp", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Healing", value: "hpHealed", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Resurrections", value: "res", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Gold", value: "gold", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Repairing", value: "hpRepaired", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Razed", value: "razed", width: columnWidthSm, wrap: false, sortable: false },
                { text: "NPC", value: "npc", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Souls Spent", value: "souls", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Assists", value: "assists", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Deaths", value: "deaths", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Time Played", value: "secs", width: columnWidthSm, wrap: false, sortable: false },
            ],
            commanderHeaders: [
                { text: "Player", value: "username", width: columnWidthMd, wrap: false },
                { text: "SF", value: "sf", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Buffs", value: "buffs", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Debuffs", value: "debuffs", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Orders", value: "orders", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Healing", value: "hpHealed", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Kills", value: "kills", width: columnWidthSm, wrap: false, sortable: false },
                { text: "Time Played", value: "secs", width: columnWidthSm, wrap: false, sortable: false }
            ],
        };
    },
    props: {
        pageSize: {
            type: Number,
            default: () => 10,
        },
        pageOptions: {
            type: Array,
            default: () => [10, 25, 50, 100],
        },
        matchStats: {
            type: Object,
            required: false
        },
        matchId: {
            type: Number,
            required: false
        },
        race: {
            type: Number,
            default: () => 1
        }
    },
    mounted() {
        const tableWrapper = document.querySelector(`.match-stats-table-wrapper-${this.race} .v-data-table__wrapper`);

        if (!tableWrapper)
            return;

        tableWrapper.addEventListener("wheel", this.handleTableScroll, { passive: false });
    },
    beforeDestroy() {
        const tableWrapper = document.querySelector(`.match-stats-table-wrapper-${this.race} .v-data-table__wrapper`);

        if (!tableWrapper)
            return;

        tableWrapper.removeEventListener("wheel", this.handleTableScroll);
    },
    methods: {
        handleTableScroll(event) {
            const tableWrapper = document.querySelector(`.match-stats-table-wrapper-${this.race} .v-data-table__wrapper`);

            if (this.isHorizontalScrollbarVisible(tableWrapper)) {
                event.preventDefault();
            }

            tableWrapper.scrollLeft += event.deltaY;
        },
        isHorizontalScrollbarVisible(element) {
            return element.scrollWidth > element.clientWidth;
        },
        getTotalExp() {
            let totalExp = 0;

            // Add commander's exp to the total
            if (this.commander && this.commander.length > 0) {
                totalExp += this.commander[0].exp; // Assuming only one commander is present
            }

            // Add each player's exp to the total
            this.players.forEach((player) => {
                totalExp += player.exp;
            });

            return totalExp;
        },
        async getMatchStats() {
            this.loading = true;

            if (this.matchId) {
                try {
                    const response = await this.$axios.get(`/api/matches/stats/${this.matchId}`);

                    const data = response.data;
                    this.match = data;
                    this.loading = false;
                } catch (error) {
                    // Handle the error or return an error response
                    console.error("Error fetching data:", error);
                    this.loading = false;
                }
            }
        },
        expand(slot) {
            if (this.expanded[0] && this.expanded[0].id != slot.item.id) {
                slot.expand(true);
                slot.expand(false);
            }

            /* Skip lifecycle hook */
            setTimeout(() => slot.expand(!slot.isExpanded));
        },
        formatNumber(value) {
            console.log("formatted")
            if (!value)
                return;

            return value.toLocaleString();
        },
        calculateGameSF(exp, secs) {
            if (!secs || secs === 0) {
                return 'N/A';
            }

            const gameSF = Math.round(exp / (secs / 60));
            return gameSF.toLocaleString(); // Format the number if needed
        },
        convertSecondsToTime(seconds) {
            if (isNaN(seconds) || seconds < 0) {
                return 'N/A';
            }

            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const remainingSeconds = seconds % 60;

            const formattedTime =
                hours > 0
                    ? `${hours}:${String(minutes).padStart(2, '0')}:${String(remainingSeconds).padStart(2, '0')}`
                    : `${minutes}:${String(remainingSeconds).padStart(2, '0')}`;

            return formattedTime;
        },
    },
    computed: {
        additionalPadding() {
            const totalPlayers = this.match ? this.match.actionPlayers.length : 0;
            const otherTeamPlayers = totalPlayers - this.players.length;
            const diff = otherTeamPlayers - this.players.length;

            return diff > 0 ? `${diff * 48}px` : "0";
        },
    },
    async created() {
        if (!this.matchStats && this.matchId) {
            await this.getMatchStats();
        }
        else if (this.matchStats) {
            this.match = this.matchStats;
        }

        this.team = this.match && this.match.teams.find((team) => team.race === JSON.stringify(this.race));
        const teamId = this.team ? this.team.id : null;
        this.players = teamId ? this.match.actionPlayers.filter((p) => p.teamId === teamId) : [];
        this.players.sort((playerA, playerB) => playerB.exp - playerA.exp);
        this.players.forEach((player) => {
            player.gamesf = this.calculateGameSF(player.exp, player.secs);
        });
        this.commander = teamId ? this.match.commanders.filter((c) => c.teamId === teamId) : [];
        this.totalPlayers = this.players.length;

        this.loading = false;
    },
});
</script>

<style lang="scss" scoped>
.match-stats-table {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 88.5vw;
}

.match-stats-commanders-table {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 88.5vw;
}

::v-deep .match-stats-table th,
.header-container {
    white-space: nowrap;
}

.header-text {
    margin-right: 4px;
}
</style>