<template>
    <div class="matches-table-wrapper">
        <v-data-table class="elevation-6 matches-table" dark :headers="headers" :items="matches" :options.sync="options"
            :server-items-length="totalMatches" :loading="loading" :single-expand="true" :expanded.sync="expanded"
            item-key="id" show-expand :footer-props="{ 'items-per-page-options': pageOptions }" dense
            @click:row="(item, slot) => { expand(slot); }">

            <template v-slot:top>
                <v-toolbar flat class="stone-texture">
                    <v-toolbar-title class="uppercase"><span v-if="!!selectedUsername || !!player">{{ selectedUsername ||
                        player }}'s </span>Recent
                        Matches</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <user-search @user-selected="handleUserSelected"></user-search>
                </v-toolbar>
            </template>

            <template v-slot:item.id="{ item }">
                <router-link :to="`/matches/${item.id}`" @click.native.stop>
                    <b>{{ item.id }}</b>
                </router-link>
            </template>

            <template v-slot:item.details="{ item }">
                <v-tooltip bottom>
                    <template #activator="{ on, attrs }">
                        <router-link :to="`/matches/${item.id}`" @click.native.stop>
                            <v-btn icon small class="accent mr-1" tile v-on="on" v-bind="attrs">
                                <v-icon small>mdi-chart-line</v-icon>
                            </v-btn>
                        </router-link>
                    </template>
                    <span>Match details</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <template #activator="{ on, attrs }">
                        <v-btn :href="`https://savage2.net/api/replays/${item.id}`" @click.native.stop target="_blank" icon
                            small class="primary" tile v-on="on" v-bind="attrs">
                            <v-icon small>mdi-download</v-icon>
                        </v-btn>
                    </template>
                    <span>Download replay</span>
                </v-tooltip>
            </template>
            <template v-slot:item.createdAt="{ item }">
                {{ formatCreatedAt(item.createdAt) }}
            </template>
            <template v-slot:item.winner="{ item }">
                {{ item.winner === 1 ? "Humans" : "Beasts" }}
            </template>
            <template v-slot:item.duration="{ item }">
                {{ formatDuration(item.duration) }}
            </template>

            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    <v-flex class="match-stats-container">
                        <v-layout wrap>
                            <v-flex xs12 md6>
                                <match-stats v-if="item?.id" :matchId="item?.id" :race="1"></match-stats>
                            </v-flex>
                            <v-flex xs12 md6>
                                <match-stats v-if="item?.id" :matchId="item?.id" :race="2"></match-stats>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </td>
            </template>
        </v-data-table>
    </div>
</template>
  
<script lang="ts">
import Vue from "vue";
import moment from "moment";
import MatchStats from "@/components/stats/match-stats.vue";
import UserSearch from "@/components/users/user-search.vue";

export default Vue.extend({
    name: 'recent-matches',
    components: {
        MatchStats,
        UserSearch
    },
    props: {
        pageSize: {
            type: Number,
            default: () => 10,
        },
        player: {
            type: String,
            default: undefined
        },
        pageOptions: {
            type: Array,
            default: () => [10, 25, 50, 100],
        },
    },
    data() {
        return {
            expanded: [],
            totalMatches: 0,
            matches: [],
            loading: true,
            selectedUsername: '',
            options: {
                page: 1,
                itemsPerPage: this.pageSize,
                sortBy: ['id'],
                sortDesc: [true]
            },
            headers: [
                {
                    text: 'Match ID',
                    align: 'start',
                    sortable: true,
                    value: 'id',
                },
                { text: "Created", value: "createdAt" },
                { text: 'Winner', value: 'winner' },
                { text: 'Duration', value: "duration" },
                { text: 'Map', value: "map" },
                { text: "Match Stats", value: "details", sortable: false },
                { text: '', value: 'data-table-expand', sortable: false },
            ],
        };
    },
    watch: {
        options: {
            handler() {
                this.getMatches();
            },
            deep: true,
        },
    },
    mounted() {
        const tableWrapper = document.querySelector(`.matches-table-wrapper .v-data-table__wrapper`);

        if (!tableWrapper)
            return;

        tableWrapper.addEventListener("wheel", this.handleTableScroll, { passive: false });
    },
    beforeDestroy() {
        const tableWrapper = document.querySelector(`.matches-table-wrapper .v-data-table__wrapper`);

        if (!tableWrapper)
            return;

        tableWrapper.removeEventListener("wheel", this.handleTableScroll);
    },
    methods: {
        handleTableScroll(event) {
            const tableWrapper = document.querySelector(`.matches-table-wrapper .v-data-table__wrapper`);

            if (this.isHorizontalScrollbarVisible(tableWrapper)) {
                event.preventDefault();
            }

            tableWrapper.scrollLeft += event.deltaY;
        },
        isHorizontalScrollbarVisible(element) {
            return element.scrollWidth > element.clientWidth;
        },
        async getMatches(filter?: string) {
            this.loading = true;

            try {
                const params = {
                    page: this.options.page,
                    pageSize: this.options.itemsPerPage,
                    sortBy: this.options.sortBy[0],
                    isAscending: !this.options.sortDesc[0],
                };

                if (!!this.player && !filter)
                    filter = this.player;

                if (filter)
                    params['filter'] = filter;


                const response = await this.$axios.get('/api/matches', {
                    params
                });

                const data = response.data;
                this.matches = data.matches;
                this.totalMatches = data.totalCount;
                this.loading = false;
            } catch (error) {
                // Handle the error or return an error response
                console.error('Error fetching data:', error);
                this.loading = false;
            }
        },
        formatCreatedAt(value: string) {
            return moment(value).format("HH:mm DD/MM/YY");
        },
        formatDuration(value: string) {
            const durationParts = value.split(":");
            const hours = parseInt(durationParts[0]);
            const minutes = parseInt(durationParts[1]);
            const seconds = parseInt(durationParts[2]);

            // Format the duration based on whether there are non-zero hours
            let formattedDuration = "";
            if (hours > 0)
                formattedDuration += `${hours}:`;
            if (hours > 0 || minutes > 0)
                formattedDuration += `${minutes.toString().padStart(2, "0")}:`;

            formattedDuration += `${seconds.toString().padStart(2, "0")}`;

            return formattedDuration;
        },
        expand(slot) {
            console.log(slot);

            console.log(this.expanded);
            if (this.expanded[0] && this.expanded[0].id != slot.item.id) {
                slot.expand(true);
                slot.expand(false);
            }

            /* Skip lifecycle hook */
            setTimeout(() => slot.expand(!slot.isExpanded));
        },
        handleUserSelected(selectedUsername: string) {
            this.selectedUsername = selectedUsername;
            this.getMatches(selectedUsername);
        },
    }
}
);
</script>  
  
<style lang="scss" scoped>
.matches-table {
    /* width: 80%; */
    // max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 200px;
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    :deep(tr),
    :deep(td) {
        cursor: pointer;
    }
}

// .matches-table-wrapper {
//     max-width: 1200px;
//     margin: auto;
// }

// .matches-stats-container {
//     max-width: 1200px !important;
// }

@media (max-width: 1050px) {
    .matches-table {
        margin: 25px;
    }
}

@media (max-width: 700px) {
    .matches-table {
        // width: 100%;
        // max-width: 1000px;
        margin: auto;
    }
}

@media (max-width: 1200px) {
    .matches-stats-container {
        max-width: 90vw !important;
    }

    .matches-stats-container .layout:first-child() {
        flex-direction: column;
    }
}
</style>