<template>
    <div class="d-flex justify-center">
        <v-avatar :style="getAvatarStyle" :size="size">
            <img style="object-fit: cover; object-position: top;" :src="getAvatarImage()" />
        </v-avatar>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: 'user-avatar',
    data() {
        return {
            username: '',
            stats: { exp: 0 }
        }
    },
    props: {
        userStats: {
            type: Object,
            required: false,
        },
        size: {
            type: Number,
            required: true,
        },
        isUser: {
            type: Boolean,
            required: false
        }
    },
    computed: {
        user() {
            return this.$store.getters.user;
        },
        getAvatarStyle() {
            return {
                borderStyle: "inset",
                borderColor: "rgb(221, 178, 114)",
            };
        },
    },
    async created() {
        this.username = this.isUser ? this.user.username : this.$route.params.username;

        if (this.userStats) {
            this.stats = this.userStats;
            return;
        }

        if (this.username) {
            try {
                const response = await this.$axios.get(`/api/stats/${this.username}`);
                this.stats = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            }
        }
    },
    methods: {
        calculateLevel(experience: number) {
            const scaleFactor = 3;

            const level = Math.floor(Math.cbrt(experience) / scaleFactor) + 1;

            return level;
        },
        getAvatarImage() {
            const level = this.calculateLevel(this.stats?.exp)
            const imagePaths = [
                "/img/icons/builder.png",
                "/img/icons/conjurer.png",
                "/img/icons/scout.png",
                "/img/icons/savage.png",
                "/img/icons/shapeshifter.png",
                "/img/icons/chaplain.png",
                "/img/icons/shaman.png",
                "/img/icons/legionnaire.png",
                "/img/icons/predator.png",
                "/img/icons/behemoth.png",
                "/img/icons/revenant.png",
                "/img/icons/devourer.png",
                "/img/icons/malphas.png",
            ];

            if (level == (null || undefined))
                return imagePaths[0];

            const index = Math.floor((level - 1) / 5);
            return imagePaths[index] || imagePaths[imagePaths.length - 1];
        },
    },
});
</script>

<style scoped>
/* Add your styles here if needed */
</style>
