<template>
    <div class="user-stats">
        <v-row class="pa-4">
            <!-- <v-avatar color="grey" class="mr-4"></v-avatar> -->
            <v-row>
                <user-avatar :size="50" :userStats="userStats" class="mr-4 mt-2"></user-avatar>
                <!-- <h1>[No Clan]</h1> -->
                <v-col class="pa-0">
                    <h1 class="username" style="margin-bottom: -0.4em;">{{ username }}</h1>
                    <span>Skill Factor: {{ Math.round(userStats?.exp / (userStats?.secs / 60)) }}</span>
                </v-col>
            </v-row>
            <!-- <v-spacer></v-spacer> -->

            <v-spacer></v-spacer>
            <h1 class="user-level mr-4">LEVEL</h1>
            <user-level :userStats="userStats"></user-level>
        </v-row>

        <v-layout class="stats-grid">
            <v-row wrap>
                <v-card class="stats-card stone-texture" v-for="stat in lifetimeStats" :key="stat.title" outlined>
                    <h3>Rank: {{ stat.rank }}</h3>
                    <v-avatar style="border-style: inset;
    border-color: darkgrey;" tile size="80" color="grey">
                        <v-img cover :src="stat.icon"></v-img>
                    </v-avatar>
                    <h4 class="stat-title">{{ stat.title }}</h4>
                    <div class="stat-value">{{ stat.value.toLocaleString() }}</div>
                </v-card>
            </v-row>
        </v-layout>
    </div>
</template>

<script lang="ts">
import UserLevel from "@/components/stats/user-level.vue"
import UserAvatar from "@/components/stats/user-avatar.vue"

export default {
    components: {
        UserLevel,
        UserAvatar
    },
    props: {
        userStats: {
            type: Object,
            required: true,
        },
    },
    computed: {
        username() {
            return this.userStats?.username || 'Unknown';
        },
        level() {
            return this.userStats?.level || 1;
        },
        lifetimeStats() {
            const totalSeconds = this.userStats?.secs || 0;
            const hours = Math.floor(totalSeconds / 3600);
            const minutes = Math.floor((totalSeconds % 3600) / 60);
            const remainingSeconds = totalSeconds % 60;

            const formattedTime = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:${String(
                remainingSeconds
            ).padStart(2, '0')}`;

            const stats = [
                { title: 'Experience', value: this.userStats?.exp || 0, rank: this.userStats.rankStats["Exp"], icon: "../img/icons/stat-icons/player_experience.jpg" },
                { title: 'Wins', value: this.userStats?.wins || 0, rank: this.userStats.rankStats["Wins"], icon: "../img/icons/stat-icons/match_record.jpg" },
                { title: 'Losses', value: this.userStats?.losses || 0, rank: this.userStats.rankStats["Losses"], icon: "../img/icons/stat-icons/total_losses.jpg" },
                { title: 'Kills', value: this.userStats?.kills || 0, rank: this.userStats.rankStats["Kills"], icon: "../img/icons/stat-icons/total_kills.jpg" },
                { title: 'Deaths', value: this.userStats?.deaths || 0, rank: this.userStats.rankStats["Deaths"], icon: "../img/icons/stat-icons/total_deaths.jpg" },
                { title: 'Assists', value: this.userStats?.assists || 0, rank: this.userStats.rankStats["Assists"], icon: "../img/icons/stat-icons/total_assists.jpg" },
                { title: 'Souls Spent', value: this.userStats?.souls || 0, rank: this.userStats.rankStats["Souls"], icon: "../img/icons/stat-icons/souls_spent.jpg" },
                { title: 'Razed', value: this.userStats?.razed || 0, rank: this.userStats.rankStats["Razed"], icon: "../img/icons/stat-icons/razed.jpg" },
                { title: 'Player Damage', value: this.userStats?.pdmg || 0, rank: this.userStats.rankStats["Pdmg"], icon: "../img/icons/stat-icons/player_damage.jpg" },
                { title: 'Building Damage', value: this.userStats?.bdmg || 0, rank: this.userStats.rankStats["Bdmg"], icon: "../img/icons/stat-icons/total_building_damage.jpg" },
                { title: 'NPC', value: this.userStats?.npc || 0, rank: this.userStats.rankStats["Npc"], icon: "../img/icons/stat-icons/npc_kills.jpg" },
                { title: 'Healing', value: this.userStats?.hpHealed || 0, rank: this.userStats.rankStats["HpHealed"], icon: "../img/icons/stat-icons/hps_healed.jpg" },
                { title: 'Resurrections', value: this.userStats?.res || 0, rank: this.userStats.rankStats["Res"], icon: "../img/icons/stat-icons/resurections.jpg" },
                { title: 'HP Repaired', value: this.userStats?.hpRepaired || 0, rank: this.userStats.rankStats["HpRepaired"], icon: "../img/icons/stat-icons/build.jpg" },
                { title: 'Gold Earned', value: this.userStats?.gold || 0, rank: this.userStats.rankStats["Gold"], icon: "../img/icons/stat-icons/total_gold.jpg" },
                { title: 'Time Played', value: formattedTime || 0, rank: this.userStats.rankStats["Secs"], icon: "../img/icons/stat-icons/hours_played.jpg" },
            ];

            return stats.filter(s => s.value !== 0 || s.rank !== 1);
        }
    },
    methods: {
        calculateLevel(experience: number) {
            const scaleFactor = 6;

            const level = Math.floor(Math.cbrt(experience) / scaleFactor) + 1;

            return level;
        },
        calculateRemainingExperiencePercent(experience: number) {
            const scaleFactor = 6;
            const level = this.calculateLevel(experience);
            const minExperience = Math.pow((level - 1) * scaleFactor, 3);
            const maxExperience = Math.pow(level * scaleFactor, 3);
            const requiredExperience = maxExperience - minExperience;
            const progress = ((experience - minExperience) / requiredExperience) * 100;

            return progress;
        },
        calculateMaxExp(experience: number) {
            const scaleFactor = 6;
            const level = this.calculateLevel(experience);
            const maxExperience = Math.pow(level * scaleFactor, 3);

            return maxExperience;
        }
    },

};
</script>

<style lang="scss" scoped>
.user-stats {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 0.125em;
    border-top-left-radius: 0.3125em;
    border-top-right-radius: 0.3125em;
    padding: 0.625em;

    max-width: 79.375em;
}


@media (max-width: 1600px) {
    .user-stats {
        max-width: 100%;
        margin-right: 1.5625em;
    }
}

.stats-grid {
    margin-top: 3.125em;
    padding: 0.3125em;
}

.stats-card {
    width: 8.125em;
    padding: 0.3125em;
    // border-radius: 0.3125em;
    border-radius: 0em;
    text-align: center;
    margin-right: 0.625em;
    margin-bottom: 0.625em;
}
</style>
