<template>
    <div :style="getScale">
        <v-tooltip bottom>
            <template #activator="{ on, attrs }">
                <div class="flex-column align-center justify-center" v-on="on" v-bind="attrs">

                    <h1 class="user-level"
                        style="position: absolute; height: 50px !important; width: 50px !important; text-align: center !important; line-height: 1.8 !important; z-index: 1 !important; font-size: 1.8em !important;">
                        {{ calculateLevel(stats?.exp) }}
                    </h1>

                    <v-avatar tile size="50" style="position: absolute;">
                        <v-img cover src="../img/icons/stat-icons/orb_blue.png"></v-img>
                    </v-avatar>

                    <v-progress-circular :value="calculateRemainingExperiencePercent(stats?.exp)" :size="50" color="purple"
                        :width="6">
                    </v-progress-circular>
                </div>
            </template>
            <span>{{ `Level progress: ${stats?.exp.toLocaleString()} / ${calculateMaxExp(stats?.exp).toLocaleString()}`
            }}</span>
        </v-tooltip>
    </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: 'user-level',
    data() {
        return {
            username: '',
            stats: { exp: 0 }
        }
    },
    props: {
        userStats: {
            type: Object,
            required: false,
        },
        scale: {
            type: Number,
            required: false
        },
        isUser: {
            type: Boolean,
            required: false
        }
    },
    computed: {
        user() {
            return this.$store.getters.user;
        },
        level() {
            return this.userStats?.level || 1;
        },
        getScale() {
            return {
                transform: `scale(${this.scale})`,
            };
        },
    },
    async created() {
        this.username = this.isUser ? this.user.username : this.$route.params.username;

        if (this.userStats) {
            this.stats = this.userStats;
            return;
        }

        if (this.username) {
            try {
                const response = await this.$axios.get(`/api/stats/${this.username}`);
                this.stats = response.data;
            } catch (error) {
                console.error("Error fetching match data:", error);
            }
        }
    },
    methods: {
        calculateLevel(experience: number) {
            const scaleFactor = 3;

            const level = Math.floor(Math.cbrt(experience) / scaleFactor) + 1;

            return level;
        },
        calculateRemainingExperiencePercent(experience: number) {
            const scaleFactor = 3;
            const level = this.calculateLevel(experience);
            const minExperience = Math.pow((level - 1) * scaleFactor, 3);
            const maxExperience = Math.pow(level * scaleFactor, 3);
            const requiredExperience = maxExperience - minExperience;
            const progress = ((experience - minExperience) / requiredExperience) * 100;

            return progress;
        },
        calculateMaxExp(experience: number) {
            const scaleFactor = 3;
            const level = this.calculateLevel(experience);
            const maxExperience = Math.pow(level * scaleFactor, 3);

            return maxExperience;
        }
    },
});
</script>

<style scoped></style>