<template>
    <div class="karma-table-wrapper">

        <v-data-table class="elevation-6 karma-table" dark item-key="matchId" :headers="headers" :items="karma"
            :footer-props="{ 'items-per-page-options': [10] }">
            <template v-slot:top>
                <v-toolbar flat class="stone-texture">
                    <v-toolbar-title class="uppercase">
                        <v-avatar size="40">
                            <v-img cover src="../img/icons/stat-icons/karma_score.jpg"></v-img>
                        </v-avatar> Karma</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-select v-model="selectedKarma" :items="karmaOptions" label="Select Karma"
                        style="max-width: 150px; height: 32px;" outlined dense></v-select>
                </v-toolbar>
            </template>
            <template v-slot:item="{ item }">
                <tr class="karma-row"
                    :class="{ 'green-background': item.do === 'add', 'red-background': item.do === 'remove' }">
                    <td>
                        <router-link :to="`/matches/${item.matchId}`">
                            <b>{{ item.matchId }}</b>
                        </router-link>
                    </td>
                    <td>
                        <router-link :to="`/stats/${item.username}`">
                            <b>{{ item.username }}</b>
                        </router-link>
                    </td>
                    <td>{{ item.reason }}</td>
                </tr>
            </template>
        </v-data-table>


    </div>
</template>

<script>
export default {
    props: {
        receivedKarma: {
            type: Array,
            required: true,
        },
        sentKarma: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            headers: [
                { text: "Username", value: "username" },
                { text: "Match ID", value: "matchId" },
                { text: "Comment", value: "comment" },
            ],
            selectedKarma: "received",
        };
    },
    computed: {
        karma() {
            return this.selectedKarma === "received" ? this.receivedKarma : this.sentKarma;
        },
        karmaOptions() {
            return [
                { text: "Received", value: "received" },
                { text: "Sent", value: "sent" },
            ];
        },
    },
};
</script>

<style lang="scss" scoped>
.green-background {
    background-color: green !important;
}

.red-background {
    background-color: red !important;
}

.karma-table {
    box-shadow: none !important;
    background-color: rgba($color: #000000, $alpha: 0.7) !important;
    border-radius: 2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.karma-row a {
    color: white !important;
    text-shadow: 2px 2px 4px #000000;
}

// .karma-table-wrapper {
//     max-width: 90vw !important;
// }

@media (max-width: 1050px) {
    .karma-table {
        margin: 25px;
    }
}

@media (max-width: 700px) {
    .karma-table {
        // width: 100%;
        // max-width: 1000px;
        margin: auto;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (max-width: 1200px) {
    .karma-table {
        max-width: 100% !important;

        margin-left: 25px;
        margin-right: 25px;
    }
}
</style>
