<template>
    <v-carousel class="map-item" hide-delimiter-background hide-delimiters cycle :interval="20000" height="auto"
        style="width: 60em;">
        <v-carousel-item v-for="(map, index) in maps" :key="index" height="auto">
            <h1 class="section-heading text-left mb-12" style="text-transform: uppercase;">{{ map }}</h1>
            <div class="map-image">
                <img :src="getImagePath(map)" cover :alt="mapName" preload="metadata">
            </div>
        </v-carousel-item>
    </v-carousel>
</template>

<script lang="ts">
import Vue from 'vue';
import { maps } from './maps';

export default Vue.extend({
    name: 'map-preview',
    data() {
        return {
            maps: maps,
        };
    },
    props: {
        mapName: String,
    },
    methods: {
        getImagePath(map: string) {
            return `/img/maps/${map}.jpg`;
        }
    },
});
</script>

<style lang="scss" scoped>
::v-deep .map-item {
    width: 62.5em !important;
    height: 62.5em !important;
    max-width: 80vw;
    max-height: 80vh;
    // overflow: visible;
}

::v-deep .map-item .v-image {
    overflow: visible;
    height: 62.5em !important;
}

::v-deep .v-carousel .v-responsive {
    overflow: visible !important;
}

// ::v-deep .map-item .v-image .v-responsive__content {
::v-deep .map-item .v-window__container .v-responsive__content {
    display: flex !important;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
}

.map-image {
    margin: auto;
    width: 31.25em;
    height: auto;
    max-width: 100%;
    // max-height: 70vh;
    transform: rotateX(52deg) rotateZ(45deg) translateY(-50px) translateX(-50px);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow:
        1px 1px 0 1px #75757a,
        -1px 0 28px 0 rgba(234, 234, 241, 0.01),
        28px 28px 28px 0 rgba(0, 0, 0, 0.25);
    transition:
        .4s ease-in-out transform,
        .4s ease-in-out box-shadow;

    &:hover {
        transform:
            translate3d(0px, -58px, 0px) rotateX(52deg) rotateZ(45deg);
        box-shadow:
            1px 1px 0 1px #f9f9fb,
            -1px 0 28px 0 rgba(234, 234, 241, 0.01),
            28px 28px 28px 0 rgba(0, 0, 0, 0.25);
    }

    >img {
        width: 100%;
        height: 100%;
        border-radius: 32px;
    }
}
</style>
