<!-- NavMenu.vue -->
<template>
    <v-navigation-drawer app dark :width="(window.innerWidth / 3 < 300 ? window.innerWidth / 3 : 300) + 'px'"
        max-width="25em" class="nav-drawer" :value="visible" temporary right disable-resize-watcher @input="updateVisible">
        <!-- <logo class="ma-1 mx-auto d-flex align-center justify-center"></logo> -->
        <div class="ma-1 mx-auto align-center justify-center">
            <v-img src="../img/savage-2.png"></v-img>
        </div>

        <hr />

        <profile-banner></profile-banner>
        <hr />

        <links class="d-flex" direction="vertical"></links>

        <hr />

        <client-only>
            <v-btn v-if="$store.getters.isLoggedIn === false" to="/login" class="mx-2 my-2 d-flex" raised>Sign In</v-btn>
            <v-btn v-if="$store.getters.isLoggedIn === false" to="/download" class="mx-2 my-2 primary d-flex" raised>Play
                free</v-btn>
            <v-btn v-if="$store.getters.isLoggedIn === true" to="/download" class="mx-2 my-2 primary d-flex"
                raised>Download</v-btn>
            <div v-if="$store.getters.isLoggedIn === true" class="mx-2 my-2 d-flex">
                <v-btn v-if="!isLoggingOut" @click="logout()" width="100%" raised>Logout</v-btn>
                <v-btn v-else :disabled="isLoggingOut" width="100%"><v-progress-circular indeterminate size="24" /></v-btn>
            </div>
        </client-only>
    </v-navigation-drawer>
</template>

<script lang="ts">
import Vue from "vue";
import Links from "@/components/links.vue"
import ProfileBanner from "@/components/profile/profile-banner.vue"
// import VueRouter from 'vue-router';
// import Logo from "@/components/logo.vue"

export default Vue.extend({
    components: {
        Links,
        ProfileBanner
        // Logo
    },
    props: {
        visible: {
            type: Boolean,
            default: false
        }
    },
    data: () => ({
        window: {
            innerWidth: 0
        },
        isLoggingOut: false
    }),
    mounted() {
        window.addEventListener('resize', this.handleResize)
        this.handleResize();
    },
    destroyed() {
        window.removeEventListener('resize', this.handleResize)
    },
    methods: {
        updateVisible(val: any) {
            if (!val) {
                this.$emit('update:visible', val);
            }
        },
        handleResize() {
            this.window.innerWidth = window.innerWidth;
        },
        logout() {
            this.isLoggingOut = true;
            setTimeout(() => {
                this.$authService.logout();

                this.isLoggingOut = false;
            }, 250);
        }
    }
});
</script>

<style>
.v-overlay {
    z-index: 5 !important;
}

.theme--dark.v-navigation-drawer {
    /* background-color: #0c0c0c; */
    background-image:
        url('/img/stone-texture.jpg');
    background-blend-mode: multiply;
    background-size: cover;
}

hr {
    border-color: #0a0a0a;
}
</style>
