<template>
    <v-snackbar v-model="snackbar" :color="snackbarColor" :timeout="snackbarTimeout">
        {{ message }}
    </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue';
import { EventBus } from '@/plugins/event-bus';

interface SnackbarData {
    message: string;
    color?: string;
    timeout?: number;
}

export default Vue.extend({
    name: 'snackbar-component',
    data() {
        return {
            snackbar: false,
            message: '',
            snackbarColor: '',
            snackbarTimeout: 3000,
        };
    },
    methods: {
        showSnackbar(data: SnackbarData) {
            this.message = data.message;
            this.snackbarColor = data.color || '';
            this.snackbarTimeout = data.timeout || 3000;
            this.snackbar = true;
        },
    },
    created() {
        EventBus.$on('show-snackbar', this.showSnackbar);
    },
    beforeDestroy() {
        EventBus.$off('show-snackbar', this.showSnackbar);
    },
});
</script>
